
@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Coda:400,800);
@import url(http://fonts.googleapis.com/css?family=Duru+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);@import "variables/variables";
@import "variables/variables";
@import "reset/reset";
@import "mixings/mixings-master";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "keyframes";
@import 'partials/partials';
@import "fonts";
@import "icon-fonts";
@import "vendors/vendors";


//font-family: 'Source Sans Pro', sans-serif;
//font-family: 'Asap', sans-serif;
//font-family: 'Coda', cursive;
//font-family: 'Duru Sans', sans-serif;
//font-family: 'Noto Serif', serif;
