@charset "UTF-8";

@font-face {
  font-family: "resguarda";
  src:url("../fonts/resguarda/resguarda.eot");
  src:url("../fonts/resguarda/resguarda.eot?#iefix") format("embedded-opentype"),
    url("../fonts/resguarda/resguarda.woff") format("woff"),
    url("../fonts/resguarda/resguarda.ttf") format("truetype"),
    url("../fonts/resguarda/resguarda.svg#resguarda") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "resguarda" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "resguarda" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-world:before {
  content: "b";
}
.icon-cog-gear:before {
  content: "a";
}
.icon-arrup:before {
  content: "c";
}
.icon-box:before {
  content: "d";
}
.icon-calendar:before {
  content: "e";
}
.icon-callme:before {
  content: "f";
}
.icon-check:before {
  content: "g";
}
.icon-checkarrow:before {
  content: "h";
}
.icon-pointing:before {
  content: "i";
}
.icon-print:before {
  content: "j";
}
.icon-star:before {
  content: "k";
}
.icon-tel-world:before {
  content: "m";
}
.icon-world-1:before {
  content: "n";
}
.icon-tel:before {
  content: "l";
}
.icon-plus:before {
  content: "o";
}
.icon-location:before {
  content: "p";
}
.icon-mail:before {
  content: "q";
}
.icon-social-skype:before {
  content: "r";
}
.icon-youtube:before {
  content: "s";
}
.icon-facebook:before {
  content: "t";
}
.icon-linkedin:before {
  content: "u";
}
.icon-twitter:before {
  content: "v";
}
.icon-left-open-big:before {
  content: "w";
}
.icon-right-open-big:before {
  content: "x";
}
.icon-up-open-big:before {
  content: "y";
}
.icon-up-open-mini:before {
  content: "z";
}
.icon-down-open-big:before {
  content: "A";
}
.icon-down-open-mini:before {
  content: "B";
}
.icon-right-open-mini:before {
  content: "C";
}
.icon-left-open-mini:before {
  content: "D";
}
.icon-left-open:before {
  content: "E";
}
.icon-right-open:before {
  content: "F";
}
.icon-up-open:before {
  content: "G";
}
.icon-up-dir:before {
  content: "H";
}
.icon-down-open:before {
  content: "I";
}
.icon-down-dir:before {
  content: "J";
}
.icon-right-dir:before {
  content: "K";
}
.icon-left-dir:before {
  content: "L";
}
.icon-menu:before {
  content: "M";
}

.icon-pencil:before {
  content: "N";
}
.icon-comments:before {
  content: "O";
}
.icon-user:before {
  content: "P";
}
