@font-face {
  font-family: "sosa";
  src:url("../fonts/sosa-regular/sosa-regular.eot");
  src:url("../fonts/sosa-regular/sosa-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/sosa-regular/sosa-regular.woff") format("woff"),
    url("../fonts/sosa-regular/sosa-regular.ttf") format("truetype"),
    url("../fonts/sosa-regular/sosa-regular.svg#sosa-regular") format("svg");
  font-weight: normal;
  font-style: normal;

}
