section#novedades-in {
  article {
    h3 {
      font-weight: 400!important;
    }
    .article-footer {
      main {
        .button {

          //  margin:45px 0!important;
          display: block;
          max-width: 85px;
          background: #f33!important;
          color: #fff!important;
          margin: 45px 0 0;
          &:hover {
            background: gray!important;
          }
        }
      }
    }
  }
  @media (min-width:$large) {
    article {
      h3 {
        font-weight: 400!important;
      }
      .article-footer {
        margin-top:40px;
        main {
          .button {

            //  margin:45px 0!important;
            display: block;
            max-width: 85px;
            background: #f33!important;
            color: #fff!important;
            margin: 10px 0 0;
            &:hover {
              background: gray!important;
            }
          }
        }
        aside{
          .compartir{
          .soc{
            margin:15px 0 0 0;
            li{
              a{
                font-size:25px!important;
              }
            }
          }
          }
        }
      }
    }
  }
}
.article-content {
  p {
    font-size: 16px;
    line-height: 22px;
  }
  ul {
    margin: 0;
    padding: 0;
    >li {
      font-family: $source;
      font-size: 14px;
      line-height: 22px;
      list-style-type: none;
      &:before {
        content: "•";
        margin: 0 6px 0 3px;
        font-size: 16px;
        color: red;
        /* or whatever color you prefer */
      }
    }
  }
  .swiper-container {
    width: 100%;

    //min-height: 300px;
    .swiper-slide {
      figure {
        margin: 0;
        padding: 0;
        img {
          min-width: 100%;
          display: block;
          margin-bottom: 0;
        }
        figcaption {
          font-family: $source;
          font-weight: 100;
          font-size: 14px;
          background-color: #f6f6f6;
          padding: 7px 30px;
        }
      }
    }
    .swiper-button-prev {
      background: none;
      left: -7px;
      bottom: 0;
      top: auto!important;
      height: 28px;
      &:before {
        font-family: "resguarda" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "D";
        font-size: 35px;

        //  padding:0;
        background: #f6f6f6;
        line-height: 28px;
      }
    }
    .swiper-button-next {
      background: none;
      right: 0;
      bottom: 0;
      top: auto!important;
      height: 28px;
      &:before {
        font-family: "resguarda" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 28px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "C";
        font-size: 35px;

        //  padding:0;
        background: #f6f6f6;
        height: 28px;
      }
    }
  }
  @media (min-width:$large) {
    p {
      font-size: 16px;
      line-height: 22px;
    }
    ul {
      margin: 0;
      padding: 0;
      >li {
        font-family: $source;
        font-size: 15px;
        line-height: 22px;
        list-style-type: none;
        &:before {
          content: "•";
          margin: 0 6px 0 3px;
          font-size: 16px;
          color: red;
          /* or whatever color you prefer */
        }
      }
    }
    .swiper-container {
      width: 100%;

      //min-height: 300px;
      .swiper-slide {
        figure {
          margin: 0;
          padding: 0;
          img {
            min-width: 100%;
            display: block;
            margin-bottom: 0;
          }
          figcaption {
            font-family: $source;
            font-weight: 100;
            font-size: 14px;
            background-color: #f6f6f6;
            padding: 7px 30px;
          }
        }
      }
      .swiper-button-prev {
        background: none;
        left: -7px;
        bottom: 0;
        top: auto!important;
        height: 28px;
        &:before {
          font-family: "resguarda" !important;
          font-style: normal !important;
          font-weight: normal !important;
          font-variant: normal !important;
          text-transform: none !important;
          speak: none;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "D";
          font-size: 35px;

          //  padding:0;
          background: #f6f6f6;
          line-height: 28px;
        }
      }
      .swiper-button-next {
        background: none;
        right: 0;
        bottom: 0;
        top: auto!important;
        height: 28px;
        &:before {
          font-family: "resguarda" !important;
          font-style: normal !important;
          font-weight: normal !important;
          font-variant: normal !important;
          text-transform: none !important;
          speak: none;
          line-height: 28px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "C";
          font-size: 35px;

          //  padding:0;
          background: #f6f6f6;
          height: 28px;
        }
      }
    }
  }
}
