$susy: (gutters: 0 ,gutter-position: outside, );
.comment {
  @include container(100% center fluid);
  .icon {
    @include span( 5 of 24 );
  }
  p {
    clear:none;
    @include span(19 of 24 last);
  }
}
