 $susy: (gutters: 1 ,gutter-position: outside, );


#footer-navigation{
  display: none;
  @include breakpoint($large-screens) {
    display: block;
    >ul {
      >li {
        @include span(2 of 12);
        text-align: center;
      }
      >li:nth-child(6) {
        @include span(2 of 12 last);
      }
    }
  }
}
