$susy: (gutters: .1);
//$susy: ( columns: 12, gutters: 0, math: fluid, output: float, gutter-position: inside, );


header {
  >.header-bottom {
    .logo {
      @include span(12 of 12 last);
    }
    #site-navigation {
      @include span(12 of 12 last);
    }
  }
  @include breakpoint($smallmax-screens) {
    >.header-bottom {
      .logo {
        @include span(3 of 12);
      }
      #site-navigation {
        @include span(9 of 12 last);
      }
    }
  }
}
.header {
  .header-top {

    //  @include container(100% center fluid);
    .logo {
      @include span(8 of 12);
    }
    .utility-bar {
      display: none;
    }
  }
  .header-bottom {
    clear: both;

    //  @include container(100% center fluid);
    .logo {
      display: none;
    }
    #site-navigation {
      @include span(48 of 48 last);
    }
    aside {
      @include span(48 of 48 last);
    }
  }
  @include breakpoint($large-screens) {
    .header-top {

      //  @include container(100% center fluid);
      .logo {
        @include span(12 of 48);
      }
      .utility-bar {
        display: block;
        @include span(36 of 48 last);
      }
    }
    .header-bottom {
      clear: both;

      //  @include container(100% center fluid);
      .logo {
        display: none;
        @include span(3 of 48);
      }
      #site-navigation {
        display: block;
        @include span(32 of 48);
      }
      aside {
        @include span(15 of 48 last);
      }
    }
  }
}

$susy: (gutters: 0);

//$susy: ( columns: 12, gutters: 0, math: fluid, output: float, gutter-position: inside, );

header {
  .header-bottom {
    nav {
      >ul {

        li {
          @include span(2 of 12 );
        }
        li:nth-child(6) {
          @include span(2 of 12 last );
        }
      }
    }
  }
}
