$susy: (gutters: .1 , );

.hidden-menu {
  .in-frame {
    .header-bottom {

      //  @include container(100% center fluid);
      .logo {
        @include span(10 of 48 );
      }
      >#site-navigation {
        @include span(32 of 48 );
      }
      aside {
        @include span(4 of 48 last);
      }
    }
  }
}
$susy: (gutters: 0  );
.hidden-menu nav#site-navigation {
  display: none;
  @include breakpoint($large-screens) {
    display: block;
    >ul {
      >li {
        @include span(2 of 12);
        text-align: center;
      }
      >li:nth-child(6) {
        @include span(2 of 12 last);
      }
    }
  }
}


.in-page-header {
  .in-frame {
    .header-bottom {

      //  @include container(100% center fluid);
      @media (min-width:$large){
      .logo {
        @include span(10 of 48 );
      }
      >#site-navigation {
        @include span(32 of 48 );
      }
      aside {
        @include span(4 of 48 last);
      }
    }
  }}
}
$susy: (gutters: 0  );
.in-page-header nav#site-navigation {
  display: none;
  @include breakpoint($large-screens) {
    display: block;
    >ul {
      >li {
        @include span(2 of 12);
        text-align: center;
      }
      >li:nth-child(6) {
        @include span(2 of 12 last);
      }
    }
  }
}
.in-page-header{
  .mobile-navigation{
    nav#site-navigation {
      display:block;
    }
  }
}
