$susy: (gutters: .25);
.in-frame {
  padding: 0 10px;
  @include container($gridSizeDefault-large center fluid);
  @include breakpoint($large-screens) {
    padding: 0;
  }

  // border-left: 1px solid #e7e7e7;
  // border-right: 1px solid #e7e7e7;
}
