.sidebar-widget-header {
  @include container(100% center fluid );
  h2 {
    @include span(19 of 24);
  }
  .header-icon {
    @include span( 5 of 24 last);
  }
}
.sidebar-widget-header-no-icon {
  @include container(100% center fluid );
  h2 {
    @include span(24 of 24 last);
  }

}
