$susy: (gutters: 1  );


.template-sidebar-right {
  .in-frame {
    >main {
      @include span(12 of 12 last);
    }
    >aside {
      @include span(12 of 12 last);
    }
  }
  @include breakpoint($large-screens) {
    .in-frame {
      >main {
        @include span(8 of 12);
      }
      >aside {
        display: block;
        @include span(4 of 12 last);
      }
    }
  }
}


.template-half {
  .in-frame {
    >main {
      @include span(12 of 12 last);
    }
    >aside {
      @include span(12 of 12 last);
    }
  }
  @include breakpoint($large-screens) {
    .in-frame {
      >main {
        @include span(6 of 12);
      }
      >aside {
        @include span(6 of 12 last);
      }
    }
  }
}
