#clientes-in {
  #slider-clientes {
    @include container(100% center fluid);
    .slide-one {
      .row.rowUp {
        >figure:nth-child(1) {
          @include span(6 of 12);
        }
        >figure:nth-child(2) {
          @include span(3 of 12);
        }
        >figure:nth-child(3) {
          @include span(3 of 12 last);
        }
      }
      .row.rowDown {
        >figure:nth-child(1) {
          @include span(3 of 12);
        }
        >figure:nth-child(2) {
          @include span(3 of 12);
        }
        >figure:nth-child(3) {
          @include span(3 of 12 );
        }
        >figure:nth-child(4) {
          @include span(3 of 12 last);
        }
      }
    }
    .slide-two {
      .row.rowUp {
        >figure:nth-child(1) {
          @include span(3 of 12);
        }
        >figure:nth-child(2) {
          @include span(3 of 12);
        }
        >figure:nth-child(3) {
          @include span(3 of 12);
        }
        >figure:nth-child(4) {
          @include span(3 of 12 last);
        }
      }
      .row.rowDown {
        >figure:nth-child(1) {
          @include span(6 of 12);
        }

        >figure:nth-child(2) {
          @include span(6 of 12 last);
        }
      }
    }
  }
  section#clientes-paises {
    @include container(100% center fluid);
    header {
      span:nth-child(1) {
        @include span(56 of 120);
      }
      span:nth-child(2) {
        @include span(8 of 120);
      }
      span:nth-child(3) {
        @include span(56 of 120 last);
      }
    }
  }
}
