//responsive
$susy: (gutters: .25 ,gutter-position: outside );
#novedades-agenda-in {
  .agenda-in-header {
    @include container(100% center fluid);
    main {
      @include span(9 of 12);
    }
    aside {
      @include span(3 of 12 last);
      @include container(100% center fluid);
      .agenda-pagination {
        display:none;
        @include span(11 of 12 );
        &.agenda-pagination-mobile{
          display:block;
        }
      }
      >.header-icon {
        @include span(1 of 12 last);
      }
    }
  }
  article {
    @include container(100% center fluid );
    aside {
      @include span(1 of 24 );
      display:none;
    }
    main {
      @include span(24 of 24 last);
    }
    figure {
      display:none;
      @include span(24 of 24 last);
    }
  }
  @media (min-width:$large){
  .agenda-in-header {
    @include container(100% center fluid);
    main {
      @include span(9 of 12);
    }
    aside {
      display:block;
      @include span(3 of 12 last);
      @include container(100% center fluid);
      .agenda-pagination {
        display:block;
        @include span(11 of 12 );

      }

      >.header-icon {
        @include span(1 of 12 last);
      }
    }
  }
  .agenda-pagination-mobile{
    display:none!important;
  }
  article {
    @include container(100% center fluid );
    aside {
      display:block;

      @include span(1 of 24 );
    }
    main {
      @include span(14 of 24);
    }
    figure {
      display:block;
      @include span(7 of 24 last);
    }
  }
}
}
