$susy: (gutters: .1);
section#alianzas {
  display: none;
  @include breakpoint($large-screens) {
    display: block;
    .alianzas-container {
      figure {
        @include gallery(2 of 10 );
      }
    }
  }
}

$susy: (gutters: .1, columns: 2 2 1 2 2, output:isolate);
.alianzas-container-2 {
  figure:nth-child(1) {
    @include span(1 at 1 );
  }
  figure:nth-child(2) {
    @include span(1 at 2 );
  }
  figure:nth-child(3) {
    @include span(1 at 3 );
  }
  figure:nth-child(4) {
    @include span(1 at 4 );
  }
  figure:nth-child(5) {
    @include span(1 at 5 );
  }
}
.hide-for-small {
  display: none;
  @include breakpoint($smallmax-screens) {
    display: block;
  }
  @include breakpoint($medium-screens) {
    display: block;
  }
  @include breakpoint($large-screens) {
    display: block;
  }
  @include breakpoint($xxlarge-screens) {
    display: block;
  }
}
