$susy: (gutters: 1 ,gutter-position: outside, );

section#beneficios {
  display: none;
  @include breakpoint($large-screens) {
    display: block;
    .in-frame {
      >ul {
        >li {
          @include gallery (3 of 12);
        }
      }
    }
  }
}
