$susy: (gutters: 0);
section#contacto {
  .in-frame {
    padding: 0;
    >aside {
      @include span(12 of 12 last);
      padding: 0 10px;
    }
    >main {
      @include span(12 of 12 last );
      .contact-row {
        @include container(100% center fluid);
        .offices-container {
          @include span(12 of 12 );
          .vcard {
            @include container(100% center fluid);
            >aside {
              @include span(6 of 48 );
            }
            >main {
              @include span(42 of 48 last );
            }
          }
        }
        .contact-info {
          @include span(12 of 12 last );
        }
      }
    }
  }
  @include breakpoint($medium-screens) {
    .in-frame {
      >aside {
        @include span(6 of 12 );
      }
      >main {
        @include span(6 of 12 last );
        .contact-row {
          @include container(100% center fluid);
          .offices-container {
            @include span(12 of 12 last );
            .vcard {
              @include container(100% center fluid);
              >aside {
                @include span(6 of 48 );
              }
              >main {
                @include span(42 of 48 last );
              }
            }
          }
          .contact-info {
            @include span(12 of 12 last );
          }
        }
      }
    }
  }
  @include breakpoint($large-screens) {
    .in-frame {
      >aside {
        @include span(4 of 12 );
      }
      >main {
        @include span(8 of 12 last );
        .contact-row {
          @include container(100% center fluid);
          .offices-container {
            @include span(5 of 12 );
            .vcard {
              @include container(100% center fluid);
              >aside {
                @include span(6 of 48 );
              }
              >main {
                @include span(42 of 48 last );
              }
            }
          }
          .contact-info {
            @include span(7 of 12 last );
          }
        }
      }
    }
  }
}
