
$susy: (gutters: 1);
section#novedades {
  .in-frame {
    >main {
      @include span(12 of 12 last);
    }
    >aside {
      display: none;
    }
  }
  @include breakpoint($large-screens) {
    .in-frame {
      >main {
        @include span(8 of 12);
      }
      >aside {
        display: block;
        @include span(4 of 12 last);
      }
    }
  }
}
$susy: (gutters: 1 ,gutter-position: outside, );
section#novedades {
  .in-frame {
    >main {
      article {
        @include span(12 of 12);

        // header {
        //   @include container(100% center fluid );
        //   .date {
        //     @include span(6 of 12);
        //   }
        //   .compartir {
        //     @include span(6 of 12 last);
        //   }
        // }
      }
      article:nth-child(even) {
        @include span(12 of 12 last);
      }
    }
  }
  @include breakpoint($medium-screens) {
    .in-frame {
      >main {
        article {
          @include span(6 of 12);

          // header {
          //   @include container(100% center fluid );
          //   .date {
          //     @include span(6 of 12);
          //   }
          //   .compartir {
          //     @include span(6 of 12 last);
          //   }
          // }
        }
        article:nth-child(even) {
          @include span(6 of 12 last);
        }
      }
    }
  }
  @include breakpoint($large-screens) {
    .in-frame {
      >main {
        article {
          @include span(6 of 12);

          // header {
          //   @include container(100% center fluid );
          //   .date {
          //     @include span(6 of 12);
          //   }
          //   .compartir {
          //     @include span(6 of 12 last);
          //   }
          // }
        }
        article:nth-child(even) {
          @include span(6 of 12 last);
        }
      }
      >aside {

      }
    }
  }
}
