$susy: (gutters: 1 ,gutter-position: outside, );

section#que-hacemos {
  .in-frame {
    >main {
      @include span(12 of 12 last);
    }
    >aside {
      @include span(12 of 12 last);
    }
  }
  @include breakpoint($medium-screens) {
    .in-frame {
      >main {
        @include span(6 of 12);
      }
      >aside {
        @include span(6 of 12 last);
      }
    }
  }
  @include breakpoint($large-screens) {
    .in-frame {
      >main {
        @include span(4 of 12);
      }
      >aside {
        @include span(8 of 12 last);
      }
    }
  }
}
