.separator {
  .in-frame {
    @include container($gridSizeDefault-large center fluid);
    span:nth-child(1) {
      @include span(56 of 120);
    }
    span:nth-child(2) {
      @include span(8 of 120);
    }
    span:nth-child(3) {
      @include span(56 of 120 last);
    }
  }
}
