$susy: (gutters: .5);
section#twitter {
  display: none;
  @include breakpoint($large-screens) {
    display: block;
    .twitter-container {
      article {
        @include span(4 of 12);
      }
      article:nth-child(3) {
        @include span(4 of 12 last);
      }
    }
  }
}
