$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;




$source :'Source Sans Pro', sans-serif;
$asap :'Asap', sans-serif;
$coda :'Coda', cursive;
$duru :'Duru Sans', sans-serif;
$noto :'Noto Serif', serif;
