

$susy: (
flow: ltr,
math: fluid,
output: float,
gutter-position: after,
container: 100%,
container-position: center,
columns: 12,
gutters: .25,
column-width: false,
global-box-sizing: content-box,


);


$size__site-main: 100%;
$size__site-sidebar: 25%;


//Breakpoints
$small-screens: max-width 480px;
$smallmax-screens: min-width 325px;
$smallmax2-screens: min-width 400px;
$medium-screens: min-width 641px;
$almost-screens: min-width 840px;
$large-screens: min-width 1024px;
$xlarge-screens: min-width 1250px;
$xxlarge-screens: min-width 1600px;


$small: 480px;
$smallmax: 325px;
$smallmax2: 400px;
$medium: 641px;
$almost: 840px;
$large: 1024px;
$xlarge: 1250px;
$xxlarge: 1600px;
