section#compliance {
  background-color: #fff;
  .in-frame {
    padding: 40px 0 40px 20px;
  }
  main {
    h1 {
      margin: 0 0 35px;
    }
    h2 {
      font-size: 26px;
      margin-bottom: 10px;
    }
    p {
      font-family: $source;
      font-size: 14px;
      font-weight: 400;
      padding: 0 25px 10px 0;
      line-height: 17px;
    }
    ul {
      padding: 0 20px 10px 0;
      li {
        font-family: $source;
        list-style-type: none;
        font-family: $source;
        font-size: 14px;
        line-height: 17px;
        position: relative;
        margin-left: 20px;
        &:before {
          position: absolute;
          font-family: "resguarda" !important;
          font-style: normal !important;
          font-weight: normal !important;
          font-variant: normal !important;
          text-transform: none !important;
          speak: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "g";
          left: -25px;
          top: 3px;
          width: 20px;
        }
      }
    }
    .button {
      padding: 15px 16px;
      font-size: 12px;
      font-weight: 500;
      &:hover{
        background:#666666
      }
    }
    .button-gray {
      background-color: #666;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 2px;
    }
  }
  aside {
    position: relative;
    .image-block {
      padding: 70px 0 0 20px;
      figure {
        z-index: 1;
        position: relative;
        margin-top: -25px;
        img {
          max-width: 55%;
        }
        figcaption {
          position: absolute;
          top: 10px;
          left: 10px;
          color: #fff;
          font-size: 14px;
          font-family: $source;
          font-weight: 200;
          i {
            position: relative;
            top: 5px;
          }
        }
      }
      figure:nth-child(1) {
        img {

        }
        figcaption {
          padding-left: 10px;
        }
      }
      figure:nth-child(2) {
        z-index: 2!important;
        left: 40px;
        img {

        }
      }
      figure:nth-child(3) {
        left: 20px;
        img {
          max-width: 60%;
        }
        figcaption {
          padding-left: 10px;
        }
      }
    }
  }
  @media (min-width:$smallmax){
    .in-frame {
    }
    main {
      h1 {
      }
      h2 {
      }
      p {
      }
      ul {
        li {
          &:before {
          }
        }
      }
      .button {
      }
    }
    aside {
      .image-block {
        padding: 70px 0 0 2%;
        figure:nth-child(3) {
          img {
            max-width: none;
          }
        }
        figure {
          img {
            max-width: none;
          }
          figcaption {
            top: 10px;
            left: 5px;
            color: #fff;
            font-size: 22px;
            font-family: $source;
            font-weight: 200;
            padding: 0;
            i {
              position: relative;
              top: 5px;
            }
          }
        }
        figure:nth-child(1) {
          img {
          }
          figcaption {
          }
        }
        figure:nth-child(2) {
          img {
          }
          figcaption {
          }
        }
        figure:nth-child(3) {
          img {
          }
          figcaption {
          }
        }
      }
    }
  }
  @media (min-width:$medium){
    .in-frame {
    }
    main {
      h1 {
      }
      h2 {
      }
      p {
      }
      ul {
        li {
          &:before {
          }
        }
      }
      .button {
      }
    }
    aside {
      .image-block {
        padding: 70px 0 0 30%;

        figure {
          img {
          }
          figcaption {
            top: 20px;
            left: 30px;
            color: #fff;
            font-size: 22px;
            font-family: $source;
            font-weight: 200;
            padding: 0;
            i {
              position: relative;
              top: 5px;
            }
          }
        }
        figure:nth-child(1) {
          img {
          }
          figcaption {
          }
        }
        figure:nth-child(2) {
          img {
          }
          figcaption {
          }
        }
        figure:nth-child(3) {
          img {
          }
          figcaption {
          }
        }
      }
    }
  }
  @media (min-width:$large) {
    .in-frame {
      padding: 70px 0 80px 20px;
    }
    main {
      h1 {
        margin: 0 0 35px;
      }
      h2 {
        margin-top: 0;
        font-size: 30px;
        width: 80%;
      }
      p {
        font-family: $source;
        font-size: 18px;
        font-weight: 400;
        padding: 20px 70px 0 0;
        line-height: 22px;
      }
      ul {
        padding: 0 70px 40px 0;
        li {
          font-family: $source;
          list-style-type: none;
          font-family: $source;
          font-size: 18px;
          line-height: 22px;
          position: relative;
          margin-left: 20px;
          &:before {
            position: absolute;
            font-family: "resguarda" !important;
            font-style: normal !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            speak: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "g";
            left: -25px;
            top: 3px;
            width: 20px;
          }
        }
      }
      .button {
        padding: 15px 22px;
        font-size: 14px;
        font-weight: 300;
      }
    }
    aside {
      position: relative;
      .image-block {
        padding: 180px 0 0 50px;
        figure {
          z-index: 1;
          position: relative;
          margin-top: -35px;
          img {
            max-width: none;
          }
          figcaption {
            position: absolute;
            top: 20px;
            left: 20px;
            color: #fff;
            font-size: 30px;
            font-family: $source;
            font-weight: 200;
            padding: 0;
            i {
              position: relative;
              top: 5px;
            }
          }
        }
        figure:nth-child(1) {
          img {
            max-width: none;
          }
          figcaption {
            padding: 0;
          }
        }
        figure:nth-child(2) {
          z-index: 2!important;
          left: 70px;
          img {
            max-width: none;
          }
          figcaption {
            padding: 0;
          }
        }
        figure:nth-child(3) {
          left: 30px;
          img {
            max-width: none;
          }
          figcaption {
            padding: 0;
          }
        }
      }
    }
  }
}
