.button {
  padding: 15px 22px;
  font-size: 14px;
  font-weight: 300;
}
.button-red {
  background-color: #f33;
  color: #fff;
}
section#denuncias {
  .in-frame{
    padding:40px 0px 40px 20px;

  }
  main {
  h1{
  //  margin:0 0 35px 0;
  }
  h2{
    font-size:26px;
    margin-bottom: 10px;
  }
  p{
    font-family: $source;
    font-size: 14px;
    font-weight: 400;
    padding:0px 25px 10px 0px;
    line-height: 17px;

  }
  .button {
    padding: 15px 16px;
    font-size: 12px;
    font-weight: 500;
    &:hover{
      background:#666666
    }
  }
  .button-red {
    background-color: #f33;
    color: #fff;
  }
  }
  aside {
    position: relative;
    figure {
      padding-top: 55px;
      //padding-bottom: 200px;
      margin: 0;
      width: 35%;
      text-align: center;
      img {

      }
    }
    .text-block-1 {
      position: absolute;
    //  bottom: 20px;
      top:30px;
      right: 5px;
      width: 160px;
      font-family: $source;
      color: #ccc;
      .icon {
        color: #f00;
        font-size: 22px;
        position: relative;
        top: 10px;
      }
      .text-1 {
        font-size: 22px;
        font-weight: 600;
      }
      .text-2 {
        font-size: 18px;
        font-weight: 300;
        position: relative;
        top: -10px;
      }
      .text-3 {
        font-size: 30px;
        font-weight: 700;
        position: relative;
        top: -20px;
      }
      .text-4 {
        font-size: 16px;
        font-weight: 300;
        position: relative;
        top: -15px;
        width: 110px;
        left:10px;
        display: inline-block;
        line-height: 16px;
      }
    }
    .text-block-2 {
      position: absolute;
      //bottom: 25px;
      top:130px;
      right: 0px;
      width: 165px;
      font-family: $source;
      color: #ccc;
      .icon {
        color: #f00;
        font-size: 22px;
        position: relative;
        top: 10px;
      }
      .text-1 {
        font-size: 22px;
        font-weight: 600;
      }
      .text-2 {
        font-size: 35px;
        font-weight: 700;
        position: relative;
        top: -15px;
      }
      .text-3 {
        font-size: 18px;
        font-weight: 300;
        position: relative;
        top: -10px;
        left:10px;
        width: 70px;
        display: inline-block;
        line-height: 20px;
      }
      .text-4 {
        font-size: 25px;
        font-weight: 600;
        position: relative;
        top: -25px;
      }
    }
  }
  @media (min-width:$medium) {
    .in-frame {
    }
    main {
      h1 {
      }
      h2{
      }
      p {
      }
      .button {
      }
      .button-red {
      }
    }
    aside {
      figure {
        text-align: right;

        img {
          position: relative;
          top:-30px;
          left:50px;

        }
      }
      .text-block-1 {
        position: absolute;
        top:auto;
        bottom: 20px;
        left: 55%;
        width: 250px;
        font-family: $source;
        color: #ccc;
        .icon {
          color: #f00;
          font-size: 30px;
          position: relative;
          top: 10px;
        }
        .text-1 {
          font-size: 29px;
          font-weight: 600;
        }
        .text-2 {
          font-size: 25px;
          font-weight: 300;
          position: relative;
          top: -10px;
        }
        .text-3 {
          font-size: 50px;
          font-weight: 700;
          position: relative;
          top: -20px;
        }
        .text-4 {
          font-size: 25px;
          font-weight: 300;
          position: relative;
          top: -10px;
          width: 150px;
          left: 10px;
          display: inline-block;
          line-height: 23px;
        }
      }
      .text-block-2 {
        position: absolute;
      //  bottom: 25px;
        top:10px;;
        left: 55%;
        width: 210px;
        font-family: $source;
        color: #ccc;
        .icon {
          color: #f00;
          font-size: 30px;
          position: relative;
          top: 10px;
        }
        .text-1 {
          font-size: 30px;
          font-weight: 600;
        }
        .text-2 {
          font-size: 50px;
          font-weight: 700;
          position: relative;
          top: -15px;
        }
        .text-3 {
          font-size: 25px;
          font-weight: 300;
          position: relative;
          top: -10px;
          left: 10px;
          width: 100px;
          display: inline-block;
          line-height: 23px;
        }
        .text-4 {
          font-size: 25px;
          font-weight: 600;
          position: relative;
          top: -25px;
        }
      }
    }
  }
  @media (min-width:$large) {
    .in-frame {
      padding: 70px 0 10px 20px;
    }
    main {
      h1 {
        margin: 0 0 35px;
      }
      h2{
        font-size:30px;
      }
      p {
        font-family: $source;
        font-size: 18px;
        font-weight: 400;
        padding: 20px 70px 40px 0;
        line-height: 22px;
      }
      .button {
        padding: 15px 22px;
        font-size: 14px;
        font-weight: 300;
      }
      .button-red {
        background-color: #f33;
        color: #fff;
      }
    }
    aside {
      position: relative;
      figure {
        padding-top: 55px;
        padding-bottom: 200px;
        margin: 0;
        width: 100%;
        text-align: center;
        img {
          position: relative;
          top:0;
          right:0;
          left:0;


        }
      }
      .text-block-1 {
        position: absolute;
        top:auto;
        bottom: 20px;
        left: 5px;
        width: 250px;
        font-family: $source;
        color: #ccc;
        .icon {
          color: #f00;
          font-size: 30px;
          position: relative;
          top: 10px;
        }
        .text-1 {
          font-size: 29px;
          font-weight: 600;
        }
        .text-2 {
          font-size: 25px;
          font-weight: 300;
          position: relative;
          top: -10px;
        }
        .text-3 {
          font-size: 50px;
          font-weight: 700;
          position: relative;
          top: -20px;
        }
        .text-4 {
          font-size: 25px;
          font-weight: 300;
          position: relative;
          top: -10px;
          width: 150px;
          left: 10px;
          display: inline-block;
          line-height: 23px;
        }
      }
      .text-block-2 {
        position: absolute;
        bottom: 25px;
        top:auto;
        left:auto;
        right: 0;
        width: 210px;
        font-family: $source;
        color: #ccc;
        .icon {
          color: #f00;
          font-size: 30px;
          position: relative;
          top: 10px;
        }
        .text-1 {
          font-size: 30px;
          font-weight: 600;
        }
        .text-2 {
          font-size: 50px;
          font-weight: 700;
          position: relative;
          top: -15px;
        }
        .text-3 {
          font-size: 25px;
          font-weight: 300;
          position: relative;
          top: -10px;
          left: 10px;
          width: 100px;
          display: inline-block;
          line-height: 23px;
        }
        .text-4 {
          font-size: 25px;
          font-weight: 600;
          position: relative;
          top: -25px;
        }
      }
    }
  }
}
