
section#denuncias-interno {
  background-color: #666;
  .in-frame {
    padding: 40px 0 40px 20px;
  }
  main {
    h1 {
      margin: 0 0 35px;
      color: #fff;
    }
    h2 {
      font-size: 26px;
      margin-bottom: 10px;
      color: #fff;
    }
    p {
      font-family: $source;
      font-size: 14px;
      font-weight: 400;
      padding: 0 25px 10px 0;
      line-height: 17px;
      color: #fff;
    }
    .button {
      
      padding: 15px 16px;
      font-size: 12px;
      font-weight: 500;
      &:hover{
        background:#fff;
        color:#f00;
      }
    }
    .button-gray {
      background-color: #666;
      color: #fff;
      border:1px solid #fff;
      border-radius:2px;
    }
  }
  aside {
    position: relative;
    figure:nth-child(1) {
      padding-top: 60px;
      //padding-bottom: 200px;
      margin: 0 auto;
      left:0;
      right:0;
      width: 35%;
      text-align: center;
      img {
        position: relative;
        top:-10px;
        left:-10px;

      }
    }
    figure:nth-child(2) {
      padding-top: 0px;
      //padding-bottom: 20px;
      margin: 0;
      width: 80%;
      text-align: center;
      img {
max-width: 30px;
        position: relative;
        top:-35px;
        left:55px;

      }
    }
    .text-block-1 {
      position: absolute;
      top:195px;
      width:120px;
      display: block;
      font-family: $source;
      color: #fff;
      text-transform: uppercase;
      margin:0 auto;
      left:0;
      right:0;

      .text-1 {
        font-size: 20px;
        font-weight: 600;
        width:100%;
      //  top:50px;;
      left:-15px;
        position: relative;

      }
      .text-2 {
        clear:both;
        float:left;
        font-weight: 300;
        left:-5px;
        position: relative;
        top:-5px;
        font-size:16px;

      }
    }
  }
  @media (min-width:$smallmax){
    .in-frame {
    }
    main {
      h1 {
      }
      h2 {
      }
      p {
      }
      .button {
      }

    }
    aside {
      figure:nth-child(1) {
        img {
          position: relative;
          left:-140px;
        }
      }

      .text-block-1 {
        left:140px;
        width:180px;
        top:150px;
        .text-1 {
          font-size: 25px;
          font-weight: 600;
          width:100%;

        }
        .text-2 {
          clear:both;
          float:left;
          font-size: 20px;
          font-weight: 300;
          left:5px;
          font-size:30px;

        }
      }
    }

  }
  @media (min-width:$medium){
    .in-frame {
    }
    main {
      h1 {
      }
      h2 {
      }
      p {
      }
      .button {
      }

    }
    aside {
      figure:nth-child(1) {
        img {
          position: relative;
          left:-150px;
        }
      }
      figure:nth-child(2) {
        img {
          position: relative;
          left:-0px;
          max-width: none;

        }
      }
      .text-block-1 {
        left:300px;
        width:300px;
        top:150px;
        .text-1 {
          font-size: 40px;
          font-weight: 600;
          width:100%;

        }
        .text-2 {
          clear:both;
          float:left;
          font-size: 25px;
          font-weight: 300;
          left:5px;
          font-size:30px;

        }
      }
    }

  }
  @media (min-width:$large) {
    .in-frame {
      padding: 70px 0 120px 20px;
    }
    main {
      h1 {
        margin: 0 0 35px;
      }
      h2 {
        margin-top:0;
        font-size: 30px;
        width:70%;
      }
      p {
        font-family: $source;
        font-size: 18px;
        font-weight: 400;
        padding: 20px 70px 40px 0;
        line-height: 22px;
      }
      .button {
        padding: 15px 22px;
        font-size: 14px;
        font-weight: 300;
      }

    }
    aside {
      position: relative;
      figure:nth-child(1) {
        padding-top: 0px;
        //padding-bottom: 200px;
        margin: 0;
        width: 100%;
        text-align: center;
        img {
          position: relative;
          top:-10px;
          left:-20px;

        }
      }
      figure:nth-child(2) {
        padding-top: 0px;
        padding-bottom: 20px;
        margin: 0;
        width: 100%;
        text-align: center;
        img {
          max-width: none;
          position: relative;
          top:-50px;
          left:55px;

        }
      }
      .text-block-1 {
        position: absolute;
        top:260px;
        width:250px;
        display: block;
        font-family: $source;
        color: #fff;
        text-transform: uppercase;
        margin:0 auto;
        left:0;
        right:0;

        .text-1 {
          font-size: 40px;
          font-weight: 600;
          width:100%;
        //  top:50px;;
        left:-30px;
          position: relative;

        }
        .text-2 {
          clear:both;
          float:left;
          font-size: 25px;
          font-weight: 300;
          left:5px;
          font-size:30px;

        }
      }
    }
  }
}
