section#fraudes {
  background: #f33;
  .in-frame {
    padding: 40px 0 40px 20px;
  }
  main {
    h1 {

      //  margin:0 0 35px 0;
    }
    h2 {
      font-size: 26px;
      margin-bottom: 10px;
      color: #fff;
    }
    p {
      font-family: $source;
      font-size: 14px;
      font-weight: 400;
      padding: 0 25px 10px 0;
      line-height: 17px;
      color: #fff;
    }
    p:nth-child(3) {
      padding: 0 20px 0 0;
    }
    p:nth-child(2) {
      padding: 0 20px 10px 0;
    }
    .button {
      display: inline-block;
      margin-top: 0;
      padding: 10px;
      font-size: 14px;
      font-weight: 300;
      &:hover{
        background:#fff;
        color:#f00;
      }
    }
    .button-red {
      background-color: #f33;
      border: 1px solid #fff;
      border-radius: 2px;
      color: #fff;
    }
  }
  aside {
    text-align: center;
    padding-right: 20px;
    figure {
      left: -30px;
      padding-top: 25px;
      width: 100%;
      color: #fff;
      position: relative;
      img {
        max-width: 40%;
      }
      figcaption {
        position: absolute;

        //padding-top: px;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 60px;
        padding-right: 10%;

        //  left: 35%;
        font-size: 12px;
        font-weight: 600;
        color: #fff;
      }
    }
    .line {
      display: none;
    }
    .lorem {
      display: none;
    }
  }
  @media (min-width:$medium) {
    .in-frame {

    }
    main {
      h1 {

      }
      h2 {

      }
      p {

      }
      p:nth-child(3) {

      }
      p:nth-child(2) {

      }
      .button {

      }
      .button-red {

      }
    }
    aside {
      figure {
        img {

        }
        figcaption {
          font-size: 18px;
          top: 105px;
        }
      }
      .line {

      }
      .lorem {

      }
    }
  }
  @media (min-width:$large) {
    .in-frame {
      padding: 50px 0 70px 20px;
    }
    main {
      h1 {
        margin: 0 0 35px;
      }
      h2 {
        font-size: 30px;
        width: 80%;
        margin-bottom: 30px;
      }
      p {
        font-family: $source;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
      }
      p:nth-child(3) {
        padding: 0 90px 10px 0!important;
      }
      p:nth-child(2) {
        padding: 0 90px 10px 0;
      }
      .button {
        display: inline-block;
        margin-top: 10px;
        padding: 15px 22px;
        font-size: 14px;
        font-weight: 300;
      }
      .button-red {
        background-color: #f33;
        border: 1px solid #fff;
        border-radius: 2px;
        color: #fff;
      }
    }
    aside {
      text-align: center;
      padding-right: 50px;
      figure {
        left: 0;
        padding-top: 25px;
        width: 100%;
        color: #fff;
        position: relative;
        img {
          position: relative;
          left: -30px;
          top: 10px;
          max-width: none;
        }
        figcaption {
          position: absolute;
          padding-top: 55px;
          margin: 0 auto;
          left: 0;
          right: 0;
          top: 45px;
          padding-right: 20%;

          //  left: 30%;
          font-size: 24px;
          font-weight: 600;
          color: #fff;
        }
      }
      .line {
        margin: 20px auto 10px;
        left: 0;
        right: 0;
        display: block;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
      }
      .lorem {
        display: block;
        color: #fff;
        text-align: left;
        width: 90%;
        margin: 0 auto;
        left: 0;
        right: 0;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
      }
    }
  }
}
