section#investigacion {
  background: #fff;
  .in-frame {
    padding: 40px 0 40px 20px;
  }
  main {
    h1 {

      //  margin:0 0 35px 0;
    }
    h2 {
      font-size: 26px;
      margin-bottom: 10px;
    }
    p {
      font-family: $source;
      font-size: 14px;
      font-weight: 400;
      padding: 0 25px 10px 0;
      line-height: 17px;
    }

    .button {
      display: inline-block;
      margin-top: 0px;
      padding:10px 10px;
      font-size: 14px;
      font-weight: 300;
      &:hover{
        background:#666;
      }
    }
    .button-red {
      background-color: #f33;
      border: 1px solid #fff;
      border-radius: 2px;
      color: #fff;
    }
  }
  aside {
    text-align: center;
    padding-right: 20px;

    figure {
      left: -30px;
      padding-top: 25px;
      width: 100%;
      color: #fff;
      position: relative;
      img{
        max-width: 40%;
      }
      figcaption {
        position: absolute;
        //padding-top: px;
        margin:0 auto;
        left:0;
        right:0;
        top: 60px;
        padding-right: 10%;
      //  left: 35%;
        font-size: 12px;
        font-weight: 600;
        color: #fff;
      }
    }
    .line {
      display:none;

    }
    .lorem {
      display:none;
    }
  }
  @media (min-width:$medium){
    .in-frame {
    }
    main {
      h1 {

      }
      h2 {
      }
      p {
      }
      p:nth-child(3) {
      }
      p:nth-child(2) {
      }
      .button {
      }
      .button-red {
      }
    }
    aside {

      figure {
        img{
        }
        figcaption {
          font-size: 18px;
          top:105px;
        }
      }
      .line {

      }
      .lorem {
      }
    }

  }
  @media (min-width:$large) {
    .in-frame {
      padding: 50px 0 60px 20px;
    }
    main {
      h1 {
        margin: 0 0 35px;
      }
      h2 {
        font-size: 30px;
        width: 80%;
        margin-bottom: 30px;
      }
      p {
        font-family: $source;
        font-size: 18px;
        font-weight: 300;
        padding: 0 90px 10px 0;

        line-height: 22px;
      }

      .button {
        display: inline-block;
        margin-top: 10px;
        padding: 15px 22px;
        font-size: 14px;
        font-weight: 300;
      }
      .button-red {
        background-color: #f33;
        border: 1px solid #fff;
        border-radius: 2px;
        color: #fff;
      }
    }
    aside {
      text-align: center;
      padding-right: 50px;
      figure {
        left: 0;
        padding-top: 0px;
        width: 90%;
        color: #fff;
        position: relative;
        img{
          max-width: none;
        }
        figcaption {
          position: absolute;
          padding-top: 55px;
          margin:0 auto;
          left:0;
          right:0;
          top: 45px;
          padding-right: 20%;
        //  left: 30%;
          font-size: 24px;
          font-weight: 600;
          color: #fff;
        }
      }
      .line {
        margin: 20px auto 10px;
        left: 0;
        right: 0;
        display:block;
      }
      .lorem {
        display:block;
        color: #fff;
        text-align: left;
        width: 90%;
        margin: 0 auto;
        left: 0;
        right: 0;
      }
    }
  }
}
