.flex-video {
  position: relative;
  height: 0;
  /* 16:9 */
  padding-top: 25px;
  padding-bottom: 56.25%;
}

.flex-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iframedvideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.in-frame {
  padding: 0 10px;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

.in-frame:after {
  content: " ";
  display: block;
  clear: both;
}

@media (min-width: 1024px) {
  .in-frame {
    padding: 0;
  }
}

section#alianzas {
  display: none;
}

@media (min-width: 1024px) {
  section#alianzas {
    display: block;
  }
  section#alianzas .alianzas-container figure {
    width: 19.2660550459%;
    float: left;
  }
  section#alianzas .alianzas-container figure:nth-child(5n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  section#alianzas .alianzas-container figure:nth-child(5n + 2) {
    margin-left: 20.1834862385%;
    margin-right: -100%;
    clear: none;
  }
  section#alianzas .alianzas-container figure:nth-child(5n + 3) {
    margin-left: 40.3669724771%;
    margin-right: -100%;
    clear: none;
  }
  section#alianzas .alianzas-container figure:nth-child(5n + 4) {
    margin-left: 60.5504587156%;
    margin-right: -100%;
    clear: none;
  }
  section#alianzas .alianzas-container figure:nth-child(5n + 5) {
    margin-left: 80.7339449541%;
    margin-right: -100%;
    clear: none;
  }
}

.alianzas-container-2 figure:nth-child(1) {
  width: 21.2765957447%;
  float: left;
  margin-left: 0;
  margin-right: -100%;
}

.alianzas-container-2 figure:nth-child(2) {
  width: 21.2765957447%;
  float: left;
  margin-left: 22.3404255319%;
  margin-right: -100%;
}

.alianzas-container-2 figure:nth-child(3) {
  width: 10.6382978723%;
  float: left;
  margin-left: 44.6808510638%;
  margin-right: -100%;
}

.alianzas-container-2 figure:nth-child(4) {
  width: 21.2765957447%;
  float: left;
  margin-left: 56.3829787234%;
  margin-right: -100%;
}

.alianzas-container-2 figure:nth-child(5) {
  width: 21.2765957447%;
  float: left;
  margin-left: 78.7234042553%;
  margin-right: -100%;
}

.hide-for-small {
  display: none;
}

@media (min-width: 325px) {
  .hide-for-small {
    display: block;
  }
}

@media (min-width: 641px) {
  .hide-for-small {
    display: block;
  }
}

@media (min-width: 1024px) {
  .hide-for-small {
    display: block;
  }
}

@media (min-width: 1600px) {
  .hide-for-small {
    display: block;
  }
}

section#beneficios {
  display: none;
}

@media (min-width: 1024px) {
  section#beneficios {
    display: block;
  }
  section#beneficios .in-frame > ul > li {
    width: 21.7391304348%;
    float: left;
  }
  section#beneficios .in-frame > ul > li:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  section#beneficios .in-frame > ul > li:nth-child(4n + 2) {
    margin-left: 26.0869565217%;
    margin-right: -100%;
    clear: none;
  }
  section#beneficios .in-frame > ul > li:nth-child(4n + 3) {
    margin-left: 52.1739130435%;
    margin-right: -100%;
    clear: none;
  }
  section#beneficios .in-frame > ul > li:nth-child(4n + 4) {
    margin-left: 78.2608695652%;
    margin-right: -100%;
    clear: none;
  }
}

section#reportes {
  display: none;
}

@media (min-width: 1024px) {
  section#reportes {
    display: block;
  }
  section#reportes .in-frame > aside {
    width: 30.4347826087%;
    float: left;
  }
  section#reportes .in-frame > main {
    width: 65.2173913043%;
    float: right;
  }
}

section#que-hacemos .in-frame > main {
  width: 100%;
  float: right;
}

section#que-hacemos .in-frame > aside {
  width: 100%;
  float: right;
}

@media (min-width: 641px) {
  section#que-hacemos .in-frame > main {
    width: 47.8260869565%;
    float: left;
  }
  section#que-hacemos .in-frame > aside {
    width: 47.8260869565%;
    float: right;
  }
}

@media (min-width: 1024px) {
  section#que-hacemos .in-frame > main {
    width: 30.4347826087%;
    float: left;
  }
  section#que-hacemos .in-frame > aside {
    width: 65.2173913043%;
    float: right;
  }
}

section#servicios {
  display: none;
}

@media (min-width: 1024px) {
  section#servicios {
    display: block;
  }
  section#servicios .in-frame > main > article {
    width: 30.4347826087%;
    float: left;
  }
  section#servicios .in-frame > main > article:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  section#servicios .in-frame > main > article:nth-child(3n + 2) {
    margin-left: 34.7826086957%;
    margin-right: -100%;
    clear: none;
  }
  section#servicios .in-frame > main > article:nth-child(3n + 3) {
    margin-left: 69.5652173913%;
    margin-right: -100%;
    clear: none;
  }
}

section#contacto .in-frame {
  padding: 0;
}

section#contacto .in-frame > aside {
  width: 100%;
  float: right;
  margin-right: 0;
  padding: 0 10px;
}

section#contacto .in-frame > main {
  width: 100%;
  float: right;
  margin-right: 0;
}

section#contacto .in-frame > main .contact-row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

section#contacto .in-frame > main .contact-row:after {
  content: " ";
  display: block;
  clear: both;
}

section#contacto .in-frame > main .contact-row .offices-container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

section#contacto .in-frame > main .contact-row .offices-container .vcard {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

section#contacto .in-frame > main .contact-row .offices-container .vcard:after {
  content: " ";
  display: block;
  clear: both;
}

section#contacto .in-frame > main .contact-row .offices-container .vcard > aside {
  width: 12.5%;
  float: left;
}

section#contacto .in-frame > main .contact-row .offices-container .vcard > main {
  width: 87.5%;
  float: right;
  margin-right: 0;
}

section#contacto .in-frame > main .contact-row .contact-info {
  width: 100%;
  float: right;
  margin-right: 0;
}

@media (min-width: 641px) {
  section#contacto .in-frame > aside {
    width: 50%;
    float: left;
  }
  section#contacto .in-frame > main {
    width: 50%;
    float: right;
    margin-right: 0;
  }
  section#contacto .in-frame > main .contact-row {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  section#contacto .in-frame > main .contact-row:after {
    content: " ";
    display: block;
    clear: both;
  }
  section#contacto .in-frame > main .contact-row .offices-container {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  section#contacto .in-frame > main .contact-row .offices-container .vcard {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  section#contacto .in-frame > main .contact-row .offices-container .vcard:after {
    content: " ";
    display: block;
    clear: both;
  }
  section#contacto .in-frame > main .contact-row .offices-container .vcard > aside {
    width: 12.5%;
    float: left;
  }
  section#contacto .in-frame > main .contact-row .offices-container .vcard > main {
    width: 87.5%;
    float: right;
    margin-right: 0;
  }
  section#contacto .in-frame > main .contact-row .contact-info {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  section#contacto .in-frame > aside {
    width: 33.3333333333%;
    float: left;
  }
  section#contacto .in-frame > main {
    width: 66.6666666667%;
    float: right;
    margin-right: 0;
  }
  section#contacto .in-frame > main .contact-row {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  section#contacto .in-frame > main .contact-row:after {
    content: " ";
    display: block;
    clear: both;
  }
  section#contacto .in-frame > main .contact-row .offices-container {
    width: 41.6666666667%;
    float: left;
  }
  section#contacto .in-frame > main .contact-row .offices-container .vcard {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  section#contacto .in-frame > main .contact-row .offices-container .vcard:after {
    content: " ";
    display: block;
    clear: both;
  }
  section#contacto .in-frame > main .contact-row .offices-container .vcard > aside {
    width: 12.5%;
    float: left;
  }
  section#contacto .in-frame > main .contact-row .offices-container .vcard > main {
    width: 87.5%;
    float: right;
    margin-right: 0;
  }
  section#contacto .in-frame > main .contact-row .contact-info {
    width: 58.3333333333%;
    float: right;
    margin-right: 0;
  }
}

.separator .in-frame {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

.separator .in-frame:after {
  content: " ";
  display: block;
  clear: both;
}

.separator .in-frame span:nth-child(1) {
  width: 46.6666666667%;
  float: left;
}

.separator .in-frame span:nth-child(2) {
  width: 6.6666666667%;
  float: left;
}

.separator .in-frame span:nth-child(3) {
  width: 46.6666666667%;
  float: right;
  margin-right: 0;
}

header > .header-bottom .logo {
  width: 100%;
  float: right;
  margin-right: 0;
}

header > .header-bottom #site-navigation {
  width: 100%;
  float: right;
  margin-right: 0;
}

@media (min-width: 325px) {
  header > .header-bottom .logo {
    width: 24.427480916%;
    float: left;
    margin-right: 0.7633587786%;
  }
  header > .header-bottom #site-navigation {
    width: 74.8091603053%;
    float: right;
    margin-right: 0;
  }
}

.header .header-top .logo {
  width: 66.4122137405%;
  float: left;
  margin-right: 0.7633587786%;
}

.header .header-top .utility-bar {
  display: none;
}

.header .header-bottom {
  clear: both;
}

.header .header-bottom .logo {
  display: none;
}

.header .header-bottom #site-navigation {
  width: 100%;
  float: right;
  margin-right: 0;
}

.header .header-bottom aside {
  width: 100%;
  float: right;
  margin-right: 0;
}

@media (min-width: 1024px) {
  .header .header-top .logo {
    width: 24.8576850095%;
    float: left;
    margin-right: 0.1897533207%;
  }
  .header .header-top .utility-bar {
    display: block;
    width: 74.9525616698%;
    float: right;
    margin-right: 0;
  }
  .header .header-bottom {
    clear: both;
  }
  .header .header-bottom .logo {
    display: none;
    width: 6.0721062619%;
    float: left;
    margin-right: 0.1897533207%;
  }
  .header .header-bottom #site-navigation {
    display: block;
    width: 66.6034155598%;
    float: left;
    margin-right: 0.1897533207%;
  }
  .header .header-bottom aside {
    width: 31.119544592%;
    float: right;
    margin-right: 0;
  }
}

header .header-bottom nav > ul li {
  width: 16.6666666667%;
  float: left;
}

header .header-bottom nav > ul li:nth-child(6) {
  width: 16.6666666667%;
  float: right;
  margin-right: 0;
}

section#twitter {
  display: none;
}

@media (min-width: 1024px) {
  section#twitter {
    display: block;
  }
  section#twitter .twitter-container article {
    width: 31.4285714286%;
    float: left;
    margin-right: 2.8571428571%;
  }
  section#twitter .twitter-container article:nth-child(3) {
    width: 31.4285714286%;
    float: right;
    margin-right: 0;
  }
}

section#novedades .in-frame > main {
  width: 100%;
  float: right;
  margin-right: 0;
}

section#novedades .in-frame > aside {
  display: none;
}

@media (min-width: 1024px) {
  section#novedades .in-frame > main {
    width: 65.2173913043%;
    float: left;
    margin-right: 4.347826087%;
  }
  section#novedades .in-frame > aside {
    display: block;
    width: 30.4347826087%;
    float: right;
    margin-right: 0;
  }
}

section#novedades .in-frame > main article {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

section#novedades .in-frame > main article:nth-child(even) {
  width: 100%;
  float: right;
}

@media (min-width: 641px) {
  section#novedades .in-frame > main article {
    width: 47.8260869565%;
    float: left;
  }
  section#novedades .in-frame > main article:nth-child(even) {
    width: 47.8260869565%;
    float: right;
  }
}

@media (min-width: 1024px) {
  section#novedades .in-frame > main article {
    width: 47.8260869565%;
    float: left;
  }
  section#novedades .in-frame > main article:nth-child(even) {
    width: 47.8260869565%;
    float: right;
  }
}

header.header-article {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header.header-article:after {
  content: " ";
  display: block;
  clear: both;
}

header.header-article .date {
  width: 47.8260869565%;
  float: left;
}

header.header-article .compartir {
  width: 47.8260869565%;
  float: right;
}

.template-sidebar-right .in-frame > main {
  width: 100%;
  float: right;
  margin-right: 0;
}

.template-sidebar-right .in-frame > aside {
  width: 100%;
  float: right;
  margin-right: 0;
}

@media (min-width: 1024px) {
  .template-sidebar-right .in-frame > main {
    width: 65.2173913043%;
    float: left;
    margin-right: 4.347826087%;
  }
  .template-sidebar-right .in-frame > aside {
    display: block;
    width: 30.4347826087%;
    float: right;
    margin-right: 0;
  }
}

.template-half .in-frame > main {
  width: 100%;
  float: right;
  margin-right: 0;
}

.template-half .in-frame > aside {
  width: 100%;
  float: right;
  margin-right: 0;
}

@media (min-width: 1024px) {
  .template-half .in-frame > main {
    width: 47.8260869565%;
    float: left;
    margin-right: 4.347826087%;
  }
  .template-half .in-frame > aside {
    width: 47.8260869565%;
    float: right;
    margin-right: 0;
  }
}

.agenda-widget article {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.agenda-widget article:after {
  content: " ";
  display: block;
  clear: both;
}

.agenda-widget article aside {
  width: 13.0434782609%;
  float: left;
  margin-right: 4.347826087%;
}

.agenda-widget article main {
  width: 82.6086956522%;
  float: right;
  margin-right: 0;
}

#footer-navigation {
  display: none;
}

@media (min-width: 1024px) {
  #footer-navigation {
    display: block;
  }
  #footer-navigation > ul > li {
    width: 13.0434782609%;
    float: left;
    text-align: center;
  }
  #footer-navigation > ul > li:nth-child(6) {
    width: 13.0434782609%;
    float: right;
  }
}

.hidden-menu .in-frame .header-bottom .logo {
  width: 20.6831119545%;
  float: left;
  margin-right: 0.1897533207%;
}

.hidden-menu .in-frame .header-bottom > #site-navigation {
  width: 66.6034155598%;
  float: left;
  margin-right: 0.1897533207%;
}

.hidden-menu .in-frame .header-bottom aside {
  width: 8.1593927894%;
  float: right;
  margin-right: 0;
}

.hidden-menu nav#site-navigation {
  display: none;
}

@media (min-width: 1024px) {
  .hidden-menu nav#site-navigation {
    display: block;
  }
  .hidden-menu nav#site-navigation > ul > li {
    width: 16.6666666667%;
    float: left;
    text-align: center;
  }
  .hidden-menu nav#site-navigation > ul > li:nth-child(6) {
    width: 16.6666666667%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .in-page-header .in-frame .header-bottom .logo {
    width: 20.8333333333%;
    float: left;
  }
  .in-page-header .in-frame .header-bottom > #site-navigation {
    width: 66.6666666667%;
    float: left;
  }
  .in-page-header .in-frame .header-bottom aside {
    width: 8.3333333333%;
    float: right;
    margin-right: 0;
  }
}

.in-page-header nav#site-navigation {
  display: none;
}

@media (min-width: 1024px) {
  .in-page-header nav#site-navigation {
    display: block;
  }
  .in-page-header nav#site-navigation > ul > li {
    width: 16.6666666667%;
    float: left;
    text-align: center;
  }
  .in-page-header nav#site-navigation > ul > li:nth-child(6) {
    width: 16.6666666667%;
    float: right;
    margin-right: 0;
  }
}

.in-page-header .mobile-navigation nav#site-navigation {
  display: block;
}

.sidebar-widget-header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-widget-header:after {
  content: " ";
  display: block;
  clear: both;
}

.sidebar-widget-header h2 {
  width: 79.1666666667%;
  float: left;
}

.sidebar-widget-header .header-icon {
  width: 20.8333333333%;
  float: right;
  margin-right: 0;
}

.sidebar-widget-header-no-icon {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-widget-header-no-icon:after {
  content: " ";
  display: block;
  clear: both;
}

.sidebar-widget-header-no-icon h2 {
  width: 100%;
  float: right;
  margin-right: 0;
}

.comment {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.comment:after {
  content: " ";
  display: block;
  clear: both;
}

.comment .icon {
  width: 20.8333333333%;
  float: left;
}

.comment p {
  clear: none;
  width: 79.1666666667%;
  float: right;
}

.article-footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.article-footer:after {
  content: " ";
  display: block;
  clear: both;
}

.article-footer main {
  width: 33.3333333333%;
  float: left;
}

.article-footer aside {
  width: 66.6666666667%;
  float: right;
}

#clientes-in #slider-clientes {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#clientes-in #slider-clientes:after {
  content: " ";
  display: block;
  clear: both;
}

#clientes-in #slider-clientes .slide-one .row.rowUp > figure:nth-child(1) {
  width: 50%;
  float: left;
}

#clientes-in #slider-clientes .slide-one .row.rowUp > figure:nth-child(2) {
  width: 25%;
  float: left;
}

#clientes-in #slider-clientes .slide-one .row.rowUp > figure:nth-child(3) {
  width: 25%;
  float: right;
}

#clientes-in #slider-clientes .slide-one .row.rowDown > figure:nth-child(1) {
  width: 25%;
  float: left;
}

#clientes-in #slider-clientes .slide-one .row.rowDown > figure:nth-child(2) {
  width: 25%;
  float: left;
}

#clientes-in #slider-clientes .slide-one .row.rowDown > figure:nth-child(3) {
  width: 25%;
  float: left;
}

#clientes-in #slider-clientes .slide-one .row.rowDown > figure:nth-child(4) {
  width: 25%;
  float: right;
}

#clientes-in #slider-clientes .slide-two .row.rowUp > figure:nth-child(1) {
  width: 25%;
  float: left;
}

#clientes-in #slider-clientes .slide-two .row.rowUp > figure:nth-child(2) {
  width: 25%;
  float: left;
}

#clientes-in #slider-clientes .slide-two .row.rowUp > figure:nth-child(3) {
  width: 25%;
  float: left;
}

#clientes-in #slider-clientes .slide-two .row.rowUp > figure:nth-child(4) {
  width: 25%;
  float: right;
}

#clientes-in #slider-clientes .slide-two .row.rowDown > figure:nth-child(1) {
  width: 50%;
  float: left;
}

#clientes-in #slider-clientes .slide-two .row.rowDown > figure:nth-child(2) {
  width: 50%;
  float: right;
}

#clientes-in section#clientes-paises {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#clientes-in section#clientes-paises:after {
  content: " ";
  display: block;
  clear: both;
}

#clientes-in section#clientes-paises header span:nth-child(1) {
  width: 46.6666666667%;
  float: left;
}

#clientes-in section#clientes-paises header span:nth-child(2) {
  width: 6.6666666667%;
  float: left;
}

#clientes-in section#clientes-paises header span:nth-child(3) {
  width: 46.6666666667%;
  float: right;
}

#novedades-agenda-in .agenda-in-header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#novedades-agenda-in .agenda-in-header:after {
  content: " ";
  display: block;
  clear: both;
}

#novedades-agenda-in .agenda-in-header main {
  width: 74.5762711864%;
  float: left;
}

#novedades-agenda-in .agenda-in-header aside {
  width: 23.7288135593%;
  float: right;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#novedades-agenda-in .agenda-in-header aside:after {
  content: " ";
  display: block;
  clear: both;
}

#novedades-agenda-in .agenda-in-header aside .agenda-pagination {
  display: none;
  width: 91.5254237288%;
  float: left;
}

#novedades-agenda-in .agenda-in-header aside .agenda-pagination.agenda-pagination-mobile {
  display: block;
}

#novedades-agenda-in .agenda-in-header aside > .header-icon {
  width: 6.7796610169%;
  float: right;
}

#novedades-agenda-in article {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#novedades-agenda-in article:after {
  content: " ";
  display: block;
  clear: both;
}

#novedades-agenda-in article aside {
  width: 3.3613445378%;
  float: left;
  display: none;
}

#novedades-agenda-in article main {
  width: 100%;
  float: right;
}

#novedades-agenda-in article figure {
  display: none;
  width: 100%;
  float: right;
}

@media (min-width: 1024px) {
  #novedades-agenda-in .agenda-in-header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #novedades-agenda-in .agenda-in-header:after {
    content: " ";
    display: block;
    clear: both;
  }
  #novedades-agenda-in .agenda-in-header main {
    width: 74.5762711864%;
    float: left;
  }
  #novedades-agenda-in .agenda-in-header aside {
    display: block;
    width: 23.7288135593%;
    float: right;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #novedades-agenda-in .agenda-in-header aside:after {
    content: " ";
    display: block;
    clear: both;
  }
  #novedades-agenda-in .agenda-in-header aside .agenda-pagination {
    display: block;
    width: 91.5254237288%;
    float: left;
  }
  #novedades-agenda-in .agenda-in-header aside > .header-icon {
    width: 6.7796610169%;
    float: right;
  }
  #novedades-agenda-in .agenda-pagination-mobile {
    display: none !important;
  }
  #novedades-agenda-in article {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #novedades-agenda-in article:after {
    content: " ";
    display: block;
    clear: both;
  }
  #novedades-agenda-in article aside {
    display: block;
    width: 3.3613445378%;
    float: left;
  }
  #novedades-agenda-in article main {
    width: 57.9831932773%;
    float: left;
  }
  #novedades-agenda-in article figure {
    display: block;
    width: 28.5714285714%;
    float: right;
  }
}

.hide-for-small {
  display: none;
}

@media (min-width: 1024px) {
  .hide-for-small {
    display: block;
  }
}
