section#alianzas {
  background: $bg-alianzas;
  color: $color-alianzas;
  border-top: 1px solid #ddd;
  height: 190px;
  padding: 30px 0 0;

  //  background: #ddd;
  .alianzas-container,
  .alianzas-container-2 {
    text-align: center;
    img {
      opacity: 0.5;
      -webkit-filter: grayscale(100%);
      filter:grayscale(100%);
      filter:gray;
      filter:url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
    }
    img:hover {
      opacity: 1;
      -webkit-filter: grayscale(0%);
      filter:grayscale(0%);
      filter:none;

      //filter:url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
    }
  }
  .alianzas-container-2 {
    figure:nth-child(1) {
      a {
        img {
          margin-top: -10px;
        }
      }
    }
    figure:nth-child(2) {
      a {
        img {
          margin-top: -5px;
        }
      }
    }
    figure:nth-child(4) {
      a {
        img {
          margin-top: -5px;
        }
      }
    }
    figure:nth-child(5) {
      a {
        img {
          margin-top: -5px;
        }
      }
    }
  }
}
