section#beneficios {
  background: $bg-beneficios;
  color: $color-beneficios;
  padding: 55px 0 40px 0;
  min-height: 438px;
  .in-frame {
    padding:0 22px ;
    >ul {
      margin: 0;
      padding: 0;
      >li {

      }
    }
  }
  .beneficios-item:nth-child(odd) {
    h2 {
      background-color: #fff;
      i {
        color: #f00;
      }
    }
  }
  .beneficios-item {
    text-align: center;
    display: inline-block;
    margin-bottom: 12px;
    h2 {
    //  display: block;
      width: 68px;
      margin:15px auto 0px;
      left: 0;
      right: 0;
      height: 56px;
      background-color: #f00;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      i {
        color: #fff;
        font-size: 40px;
        position: relative;
        top:10px;

      }
      i.icon-box{
      font-size: 45px;
      left:1px;
      top:6px;
      }
      i.icon-pointing{
      font-size: 45px;
      left:0px;
      top:7px;
      }
      i.icon-tel-world{
      font-size: 50px;
      top:4px;
      left:1px;
      }
      i.icon-checkarrow{
      font-size: 50px;
      top:4px;
      left:2px;
      }

      i.icon-star{
      font-size: 35px;
      top:12px;
      left:-1px;
      }
      i.icon-tel{
      font-size: 38px;
      top:10px;
      }
      i.icon-check{
      font-size: 35px;
      left:1px;

      top:12px;
      }
      i.icon-gear{
      font-size: 35px;
      left:1px;
      top:8px;
      }
    }
    p {
      color: $color-beneficios;
      font-family: $source;
      font-size: 16px;
      line-height: 20px;
      margin-top:12px;
      width:95%;
    }

  }
}

.beneficios-item{
  h2,p{
    display:none;

  }
}
