section#contacto {
  .in-frame {
    > aside {

      //height: 0px;
      padding: 0 0 35px;
      h1 {
        margin: 40px 0 0 10px;
        font-size: 34px;
      }
      h3 {
        font-family: $source;
        font-size: 22px;
        font-weight: 300;
        margin: 5px 0 15px 10px;
      }
      form {
        padding-left: 4%;
        width: 96%;
        .g-recaptcha {
          transform: scale(0.92);
          transform-origin: 0 0;
        }
      }
      input {
        font-size: 15px;
        width: 100%;
        height: 43px;
        margin-bottom: 10px;
        padding: 5px;
        @include border-radius(4px);
      }
      textarea {
        font-size: 16px;
        width: 100%;
        height: 100px;
        margin-bottom: 0px;
        padding: 5px;
      }
      .leyenda{
        font-size: 14px;
      }
      .contact-required {
        font-size: 12px;
        position: relative;
        top: 20px;
      }
      .contact-submit {
        float: right;
        width: 27%;
        margin-top: 10px;
        margin-bottom: 30px;
      }
    }
    > main {
      padding: 0 0 0 35px;
      .logo {
        display: none;
      }
      .logo-mobile {
        margin: 10px 0;
        display: block;
        text-align: left;
        img {
          max-width: 180px;
          position: relative;
          left: 0px;
          top: -10px;
        }

        //
      }
      .contact-row {
        .offices-container {
          position: relative;
          h3 {
            margin-top: 40px;
            font-family: $source;
            font-weight: 300;
            letter-spacing: 0.07em;
          }
          .vcard {
            margin-bottom: 40px;
            > aside {
              i {
                font-size: 30px;
                position: relative;
                top: -5px;
                left: -5px;
              }
            }
            > main {
              padding-left: 0;
              h4 {
                margin: -10px 0 5px;
                padding: 0;
                .locality,
                .country-name {
                  font-size: 14px;
                  font-weight: 300;
                  letter-spacing: 0.04em;
                }
              }
              .street-address {
                font-family: $source;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 0.01em;
              }
              .tel {
                font-size: 12px;
                font-weight: 200;
                letter-spacing: 0.025em;
                strong {
                  font-size: 12px;
                  font-weight: 400;
                  display: block;
                  margin-top: 8px;
                  margin-bottom: 3px;
                  letter-spacing: 0.04em;
                }
              }
            }
          }
        }
        .contact-info {
          padding: 0 0 0 7px;
          h3 {
            font-family: $source;
            font-size: 28px;
            font-weight: 300;
            display: none;
          }
          .social-icons-footer {
            .soc {
              margin: -10px 0 0 -24px;
              padding: 0 0 20px;
              > li {
                border-right: 1px solid rgba(129, 129, 129, .5);
                a {
                  font-size: 27px;
                  width: auto;
                  height: 27px;
                  margin: 0 auto;
                  padding: 0 12px;
                }
              }
              > li:nth-last-child(1) {
                border-right: 0 solid transparent;
              }
            }
          }
          .skype-call-link {

            display: none;
            i {
              font-size: 50px;
              position: relative;
              top: 16px;
              left: 0;
            }
            font-family: $source;
            font-size: 26px;
            font-weight: 200;
            margin: -10px 0 0 -10px;
            &:hover{
              i{
              }
            }
          }
          p {
            display: none;
            width: 70%;
            margin: 20px 0 0 -5px;
            font-size: 16px;

            //letter-spacing: .025em;
            font-weight: 100;
            font-family: $source;
          }
          .mail-link {
            display: block;
            margin-top: 0;
            font-size: 18px;
            margin-left: 0px;
            letter-spacing: 0.1em;
            i {
              font-size: 26px;
              position: relative;
              top: 7px;
              left: -10px;
            }
          }
          .politicas-link{
            display:none;
          }
        }
      }
      #footer-navigation {
        ul {
          margin: 0;
          padding: 0;
          li {
            display: inline-block;
            list-style-type: none;
            width: auto;
            padding: 0 2.19%;
            a {
              font-family: $asap;

              //font-size: 15px;
              text-transform: uppercase;
            }
            a:hover {
            }
          }
        }
      }
    }
  }
  @include breakpoint($smallmax-screens) {
    form {
      padding-left: 4%;
      width: 96%;
      .g-recaptcha {
        transform: scale(1);
        transform-origin: 0 0;
      }
      .contact-submit {
        margin-bottom: 0!important;
      }

    }
    .skype-call-link {
    display:block;
    }
    .mail-link {
      display: block;
      margin-top: 17px;
      font-size: 18px;
      margin-left: 30px;
      letter-spacing: 0.1em;
      i {
        font-size: 28px;
        position: relative;
        top: 7px;
        left: 5px;
      }
    }

  }
  @include breakpoint($large-screens) {
    .in-frame {
      padding: 0 10px;
      > aside {


        height: 666px;
        padding: 0 0 35px;
        h1 {
          margin: 40px 0 0 10px;
          font-size: 40px;

        }
        h3 {
          font-size: 29px;
          margin: 45px 0 35px 10px;;
        }
        form {
          padding:0 0 0 10px;
          width: 96%;
          .g-recaptcha {
            transform: scale(1);
            transform-origin: 0 0;
          }
        }
        input {
          font-size: 15px;
          width: 100%;
          height: 43px;
          margin-bottom: 10px;
          padding: 5px;
        }
        textarea {
          font-size: 16px;
          width: 100%;
          height: 100px;
          margin-bottom: 0px;
          padding: 5px;
        }
        .leyend{

        }
        .contact-required {
          font-size: 12px;
          position: relative;
          top: 20px;
        }
        .contact-submit {
          float: right;
          width: 27%;
          margin-top: 10px;
        }
      }
      > main {
        padding: 5px 0 0 60px;
        .logo {
          display: block;
        }
        .logo-mobile {
          display: none;
        }
        .contact-row {
          .offices-container {
            h3 {
              font-weight: 300;
              letter-spacing: 0.07em;
              margin-top: 26px;
            }
            .vcard {
              margin-bottom: 35px;
              > aside {
                i {
                  font-size: 37px;
                  position: relative;
                  top: 12px;
                  left: -7px;
                }
              }
              > main {
                padding-left: 0;
                h4 {
                  margin: 10px 0 5px;
                  padding: 0;
                  .locality,
                  .country-name {
                    font-size: 18px;
                    font-weight: 300;
                    letter-spacing: 0.04em;
                  }
                }
                .street-address {
                  font-size: 18px;
                  font-weight: 300;
                  letter-spacing: 0.01em;
                }
                .tel {
                  font-size: 15px;
                  font-weight: 200;
                  letter-spacing: 0.025em;
                  strong {
                    font-size: 16px;
                    font-weight: 400;
                    display: block;
                    margin-top: 8px;
                    margin-bottom: 3px;
                    letter-spacing: 0.04em;
                  }
                }
              }
            }
          }
          .contact-info {
            padding: 0 0 0 40px;
            h3 {
              font-family: $source;
              font-size: 28px;
              font-weight: 300;
              display: block;
            }
            .social-icons-footer {
              .soc {
                margin: 0 0 0 -15px;
                padding: 10px 0 20px;
                > li {
                  a {
                    font-size: 27px;
                    width: auto;
                    height: 27px;
                    margin: 0 auto;
                    padding: 0 12px;
                  }
                }
                > li:nth-last-child(1) {
                  border-right: 0 solid transparent;
                }
              }
            }
            .skype-call-link {
              display: block;
              font-size: 30px;
              font-weight: 200;
              margin: -10px 0 0 -10px;
              i {
                font-size: 50px;
                position: relative;
                top: 16px;
                left: 0;
              }
            }
            p {
              width: 70%;
              margin: 30px 0 0 -5px;
              font-size: 16px;
              display: block;
            }
            .mail-link {
              display: block;
              margin-top: 17px;
              font-size: 18px;
              margin-left: 0px;
              letter-spacing: 0.1em;
              i {
                font-size: 28px;
                position: relative;
                top: 7px;
                left: -5px;
              }
            }
            .politicas-link{
              display:block;
            //  padding:30px 0 0 0;
              color:#fff;
              font-family: $source;
              font-weight: 100;
              position: relative;
              top:50px;
            }
          }
        }
        #footer-navigation {
          ul {
            margin: 0;
            padding: 0;
            li {
              display: inline-block;
              list-style-type: none;
              width: auto;
              padding: 0 2.19%;
              a {
                font-family: $asap;

                //font-size: 15px;
                text-transform: uppercase;
              }
              a:hover {

              }
            }
          }
        }
      }
    }
  }
  @include breakpoint($xxlarge-screens) {

  }
}
