section#frase
{
  height: 110px;
  padding: 0px 0 0 0;

  color: $color-frase;
  background: $bg-frase;
  text-align: center;
  &.bg-gray{
    background: #f5f5f5;
  }
  //border-bottom:1px solid #ddd;

  h3
  {

      font-size: 14px;
      line-height: 16px;
      font-weight: 100;
      text-align: center;

      display: block;
      margin-bottom: 30px;

      color: #333;
  }
  a.button
  {
      font-family: $source;
      font-size: 18px;
      margin-left: 0px;

      padding: 12px 17px;

      text-transform: uppercase;

      color: #fff;
      background-color: #ff3333;
      &:hover{
        -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
      -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.5);
      box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.5);
      }
  }

  @include breakpoint($large-screens) {

    height: 110px;
    padding: 15px 0 0 0;

    color: $color-frase;
    background: $bg-frase;

    h3
    {
        font-size: 24px;
        font-weight: 100;

        display: inline-block;

        color: #333;
        margin-bottom:0;
    }
    a.button
    {
        font-family: $source;
        font-size: 18px;

        margin: 0 25px;
        padding: 12px 17px;

        text-transform: uppercase;

        color: #fff;
        background-color: #f00;
    }
  }
}
