section#novedades,
section#novedades-in {
  padding: 5px 0 55px 15px;
  color: $color-novedades;
  background: $bg-novedades;
  h1 {
    margin-bottom: 15px;
    font-size: 36px;
  }
  .in-frame {
    > main {
      article {
        margin-top: 10px;
        margin-bottom: 25px;
        h3 {
          font-family: $source!important;
          font-weight: 300;
          line-height: 28px;
          margin-bottom: 0;
        }
        p {
          font-family: $source;
          font-size: 14px;
          line-height: 18px;
          margin: 10px 0;
        }
        footer {
          a {
            font-size: 15px;
            font-weight: 300;
            color: #333;
            &:hover{
              color: #ff3333;
            }
          }
        }
      }
    }
    > aside {

    }
  }
  @include breakpoint($large-screens) {
    padding: 35px 0 65px;
    color: $color-novedades;
    background: $bg-novedades;
    h1 {
      margin-bottom: 15px;
      font-size: 40px;
    }
    .in-frame {
      padding: 0 10px 0 20px;
      > main {
        article {
          margin-top: 31px;
          margin-bottom: 5px;
          h3 {
            font-family: $source!important;
            font-weight: 300;
            line-height: 32px;
            margin-bottom: 0;
          }
          p {
            font-family: $source;
            font-size: 16px;
            margin: 10px 0;
            line-height: 20px;
          }
          footer {
            a {
              font-size: 15px;
              font-weight: 300;
              color: #333;
            }
          }
        }
      }
      > aside {

      }
    }
  }
}
