.success-case {
  text-align: center;
  margin-top:10px;
  margin-bottom: 30px;
  .button {
    background-color: #39f;
    border-radius: 2px;
    color: #fff;
    padding: 7px 0;
    display: block;
    width: 130px;

    font-family: $source;
    font-size: 16px;
    font-weight: 300;
  }
  p {
    display:none;
    margin: 10px auto;
    left: 0;
    right: 0;
    width: 49%;
  }
  @media (min-width:$large) {
    margin-top:20px;

    text-align: center;
    .button {
      background-color: #39f;
      border-radius: 4px;
      color: #fff;
      padding: 20px 0;
      display: block;
      width: 190px;
      margin: 0 auto;
      left: 0;
      right: 0;
      font-family: $source;
      font-size: 20px;
      font-weight: 300;
    }
    p {
      display:block;
      margin: 10px auto;
      left: 0;
      right: 0;
      width: 49%;
      font-size: 14px!important;
      color:#999;
    }
  }
}
section#que-hacemos-in {
  padding-bottom: 30px;
  .in-frame {
    padding: 0 20px;
    h1 {
      font-size: 36px;
      margin: 0;
    }
    p {
      font-size: 14px;
      line-height: 17px;
    }
  }
  @media (min-width:$large) {
    .in-frame {
      padding: 0 20px;
      h1 {
        font-size: 40px;
        margin: 0 0 10px 0;
      }
      p {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}
