section#que-hacemos {
  background: $bg-que-hacemos;
  color: $color-que-hacemos;
  padding: 0 15px 10px;
  main {
    h1 {
      color: $color-que-hacemos;
      font-size: 36px;

    }
    .compartir {
      display: none;

      .soc {
        text-align: left;
        margin-left: -5px;

        li {
          border-right: 1px solid rgba($color-que-hacemos,.6);
          width: 30px;
          a {
            color: $color-que-hacemos;
            font-size: 20px;
            width: 25px;
            opacity: .7;
            &:hover{
              opacity: 1;
              color:#fff!important;
            }

            //  margin-left: 5px;
            //margin-right: 12px;
          }
          &:nth-last-child(1){
            border-right: 1px solid rgba($color-que-hacemos,0);

          }
        }
      }
    }
    p {
      color: $color-que-hacemos;
      line-height: 17px;
      font-size: 14px;
    }
  }
  aside {
    position: relative;
    text-align: center;
    .ellipse {
      width: 90%;
      display: block;
      border: 2px dashed #fff;
      height: 235px;
      border-radius: 100%;
      top: 0px;
      margin: 0 auto;
      left: 0;
      right: 0;
      position: relative;

      //margin-left:20px;
      //padding-left: 40px;
    }
    .circle {
      width: 60px;
      height: 60px;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 100%;
      color: #ccc;
      font-size: 40px;
    }
    .circle-world {
      top: 30px;
      left: 0%;
      line-height: 75px;
      font-size: 37px;
      i {
        position: relative;
        left: 0px;
        top:-1px;
      }
    }
    .circle-tel {
      top: 30px;
      left: 80%;
      line-height: 75px;
      font-size: 37px;
      i {
        position: relative;
        left: 0px;
        top:-2px;
      }
    }
    .circle-mail {
      top: 140px;
      left: 0%;
      line-height: 75px;
      font-size: 37px;
      i{
        position:relative;
        left:0px;
        top:-1px;
      }
    }
    .circle-print {
      top: 140px;
      left: 80%;
      line-height: 75px;
      font-size: 37px;
      i {
        position: relative;
        left: 3px;
      }
    }
    .center-especialista {
      position: absolute;
      top: 70px;
      margin:0 auto;
      left:0;
      right:0;
      img{
        width:60px;
      }
      span {
        font-family: $source;
        font-weight: 500;
        position: absolute;
        top: 70px;
        left: 0;
        font-size: 12px;
        width:80px;
        margin:0 auto;
        left:0;
        right:0;
      }
    }
  }
  @include breakpoint($smallmax-screens) {
    .in-frame{
      padding: 30px 10px;
      aside{
        max-width: 300px;

      }
    }


  }
  @include breakpoint($smallmax2-screens) {
    .in-frame{
      padding: 30px 10px;
      aside{
        max-width: 300px;
        position:relative;
        right:20%;
      }
    }


  }
  @include breakpoint($medium-screens) {
    .in-frame{
      padding: 30px 10px;
      aside{
        max-width: 300px;
        position:relative;
        right:0%;
      }
    }


  }

  @include breakpoint($large-screens) {
    padding: 37px 0 87px;
    .in-frame{
      padding:0 10px 0 20px;
    }
    main {
      h1 {
        color: $color-que-hacemos;
        font-size: 40px;
  line-height: 42px;
      }
      .compartir {
        display: block;
        .soc {
          margin-left: -5px;
          li {
            border-right: 1px solid rgba($color-que-hacemos,.7);
            width: 30px;
            a {
              color: $color-que-hacemos;
              font-size: 20px;
              width: 25px;

              //  margin-left: 5px;
              //margin-right: 12px;
            }
          }
        }
      }
      p {
        color: $color-que-hacemos;
        line-height: 19px;
        font-size: 17px;
      }
    }
    aside {
    //  padding-top: 10px;
      max-width: none!important;
      float:right!important;


      position: relative;
      text-align: center;
      .ellipse {
        width: 350px;
        display: block;
        border: 2px dashed #fff;
        height: 325px;
        border-radius: 100%;
        top: 25px;
        left: 29%;
        position: relative;
        right:auto;
        margin:0;

        //margin-left:20px;
        //padding-left: 40px;
      }
      .circle {
        width: 85px;
        height: 85px;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100%;
        color: #ccc;
        font-size: 40px;
      }
      .circle-world {
        display:none;
        top: 70px;
        left: 27%;
        line-height: 100px;
        font-size: 50px;
        i {
          position: relative;
          left: -1px;
        }
      }
      .circle-tel {
        top: 70px;
        left: 72%;
        line-height: 100px;
        font-size: 50px;
        i {
          position: relative;
          left: 0px;
        }
      }
      .circle-mail {
        top: 230px;
        left: 27%;
        line-height: 100px;
        font-size: 50px;
        i{
          position: relative;
          top:1px;
          left:0px;
        }
      }
      .circle-print {
        top: 230px;
        left: 72%;
        line-height: 100px;
        font-size: 50px;
        i {
          position: relative;
          left: 3px;
        }
      }
      .center-especialista {
        position: absolute;
        top: 105px;
        left: 49%;
        right:auto;
        margin:0;
        img{
          width:100%;
        }
        span {
          font-family: $source;
          font-weight: 500;
          position: absolute;
          top: 110px;
          left: 0;
          font-size: 16px;
        }
      }
    }
  }
}
.circle-world,
.circle-tel,
.circle-print,
.circle-mail,
.center-especialista{
  display:none;

}
// .onScreen{
//   .circle-world,
//   .circle-tel,
//   .circle-print,
//   .circle-mail,
//   .center-especialista{
//     display:block!important;
//
//   }
// }
