.brochure-download {
  display:none;

  @media (min-width:$large) {
    margin-top:25px;
    margin-right: 10px;
    display:block;
    text-align: center;
    p {
      margin: 5px auto;
      left: 0;
      right: 0;
      width: 49%;
      line-height: 16px!important;
      font-size:14px!important;
    }
    a:hover{
      // img{border-radius:100px;
      //   -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
      // -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.5);
      // box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.5);
      // }
    }
  }
}

section#quienes-somos-in{
  .in-frame{
    padding:0px 20px;
    h1{
      font-size:36px;
      margin:30px 0 0 0;
    }
    p{
      font-size: 14px;
      line-height: 17px;
    }
  }
  @media (min-width:$large){
  .in-frame{
    padding:40px 20px;
    h1{
      font-size:40px;
      margin:25px 0 10px 0;
    }
    p{
      font-size: 16px;
      line-height: 20px;
    }
  }

}
}
