section#reportes {
  padding: 35px 0 45px;
  color: $color-reportes;
  background: $bg-reportes;
  h1 {
    margin-bottom: 20px;
  }
  .in-frame {
    padding: 0 10px 0 20px;
    >aside {
      padding-right: 1%;
      h3 {
        font-family: $source;
        font-size: 26px;
        font-weight: 300;
        margin-bottom: 35px;
      }
      .big-button {
        font-size: 22px;
        font-weight: 400;
        width: 212px;
        height: 50px;
        margin: 15px 0;
        padding-top: 0;
        padding-left: 5px;
        letter-spacing: 1px;
        i {
          font-size: 32px;
          position: relative;
          top: 7px;
          left: -2px;
        }
        .icon-arrup {
          font-size: 42px;
          top: 3px;
          left: -5px;
        }
      }
      .mail-link {
        padding: 10px 0;
        a {
          font-size: 22px;
          text-transform: lowercase;
          color: #999;
          margin: 40px 0;
          padding: 10px 0;
          font-family: $source;
          letter-spacing: 0.01em;
          i {
            color: #c2c2c2;
            font-size: 30px;
            position: relative;
            top: 9px;
          }
        }
      }
      p {
        line-height: 22px;
      }
    }
    >main {
      >ul {
        margin: 0 0 0 0px;
        padding: 25px 0 0;
        -webkit-columns: 215px;
        -moz-columns: 215px;
        columns: 215px;
        -webkit-column-gap: 1em;
        -moz-column-gap: 1em;
        column-gap: 1em;
        >li {
          -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
          break-inside: avoid;
          list-style-type: none;
          margin-bottom:2px;
          .flag{

          }
          .country{
            margin-left: 8px;
          }
          .country,
          .telephone{
            font-size:16px;


          }
        }
      }
    }
  }
}
