$bg-slider: #ddd;
$bg-frase: #f5f5f5;
$bg-twitter:#005b8e;
$bg-novedades:#fff;
$bg-que-hacemos:#ff3333;
$bg-servicios:#fff;
$bg-beneficios:#333;
$bg-contacto:#333333;
$bg-reportes:#fff;
$bg-alianzas:#fff;


$color-slider: #fff;
$color-frase: #333333;
$color-twitter:#fff;
$color-novedades:#666666;
$color-que-hacemos:#fff;
$color-servicios:#333;
$color-beneficios:#cccccc;
$color-contacto:#cccccc;
$color-reportes:#333333;
$color-alianzas:#333333;


@import "slider";
@import "frase";
@import "twitter";
@import "novedades";
@import "que-hacemos";
@import "servicios";
@import "beneficios";
@import "reportes";
@import "alianzas";
@import "contacto";
@import "contacto_light";
@import "contacto-dark";
@import "video";
@import "que-hacemos-in";
@import "quienes-somos";
@import "separator";

@import "servicios/denuncias";
@import "servicios/denuncias-interno";
@import "servicios/compliance";
@import "servicios/fraudes";
@import "servicios/investigacion";
