.separator {
  .in-frame{
    //width:100%;
  //  max-width: none!important;
  }
  position: relative;
  text-align: center;
//  top: 30px;
  span.line {
    border-top: 1px solid #ccc;
    position: relative;
    top: 7px;
    height: 30px;
  }
  i {
    margin:0 auto;
    left:0;
    right:0;
    text-align: center;
    background-color: #ccc;
    color:#fff;
    padding: 7px 10px 3px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
