section#servicios {
  background: $bg-servicios;
  color: $color-servicios;
  padding: 37px 0 47px;
  h1 {
    color: $color-servicios;
  }
  .in-frame {
    padding: 0 10px 0 20px;
    >main {
      >article {
        margin-bottom: 3px;
        h3 {
          color: $color-servicios;
          font-family: $source;
          font-weight: 300;
          margin: 15px 0;
          line-height: 30px;
          a{
            color: $color-servicios;
            &:hover {
              color: #f00;
            }
          }

        }
      }
    }
  }
}
