section#slider {
  color: $color-slider;
  background: $bg-slider;

  //@include aspect-ratio(68, 33);
  .swiper-button-next,
  .swiper-button-prev {
    display: none!important;
  }
  .in-frame {
    position: relative;
    .swiper-pagination {

      // position: absolute;
      // right: 3%;
      // top: 20px;
      right: 10px;
      top: 380px;
      z-index: 15;
      position: absolute;
      width: 100%;
      height: 20px;
      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background: #fff;
        margin-left: 10px;
      }
      .swiper-pagination-bullet-active {
        background: #ccc;
      }
    }
  }
  .swiper-container {
    width: 100%;
    height: 385px;
    .swiper-slide {
      .slider-bg {
        height: 495px;
        background-size: cover;
        background-position: center center!important;
        overflow: hidden;
        img {

          // min-width: 800px;
          // position: relative;
          // right: 200px;
          // height: 495px;
        }
      }
      .slider-caption {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 495px;
        color: #fff;
        .in-frame {
          position: relative;
          height: 100%;
          .animated {
            display: none;
          }
        }
        [class^='capt-'],
        [class*=' capt-'],
         {
          position: absolute!important;
        }
      }
    }
  }
  @include breakpoint($smallmax-screens) {
    .swiper-container {
      width: 100%;
      height: 400px;
      .swiper-slide {
        .slider-bg {
          overflow: hidden;
          img {

            // min-width: 100%;
            // max-width: none;
            // right: 0;
            // height: 495px;
          }
        }
      }
    }
  }
  @include breakpoint($medium-screens) {
    .in-frame {
      .swiper-pagination {
        top: 460px;
      }
    }
    .swiper-container {
      width: 100%;
      height: 495px;
      .swiper-slide {
        .slider-bg {
          overflow: hidden;
          img {

            //width: 300%;
            width: 100%;
            min-width: 100%;

            //  min-width:100%;
            height: 495px;
          }
        }
      }
    }
  }
  @include breakpoint($large-screens) {
    .in-frame {
      position: relative;
      .swiper-pagination {
        position: absolute;
        right: 2%;
        top: 20px;
        width: auto;
        .swiper-pagination-bullet {
          width: 12px;
          height: 12px;
          margin-left: 10px;
        }
        .swiper-pagination-bullet-active {

        }
      }
    }
    .swiper-container {
      width: 100%;
      height: 495px;
      .swiper-slide {
        .slider-bg {
          img {

            // width: 100%;
            // max-width: 100%;
            // min-width: 100%;
            // height: auto;
          }
        }
        .slider-caption {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 495px;
          color: #fff;
          .in-frame {
            position: relative;
            height: 100%;
            .animated {
              display: none;
            }
          }
          [class^='capt-'],
          [class*=' capt-'],
           {
            position: absolute!important;
          }
        }
      }
    }
  }
  @include breakpoint($xxlarge-screens) {
    .in-frame {

      //
      .swiper-pagination {

        //
        .swiper-pagination-bullet {

          //
        }
        .swiper-pagination-bullet-active {

        }
      }
    }
    .swiper-container {
      .swiper-slide {
        .slider-bg {
          img {

            //  margin-top: -100px;
          }
        }
        .slider-caption {
          .in-frame {
            .animated {

            }
          }
          [class^='capt-'],
          [class*=' capt-'],
           {

          }
        }
      }
    }
  }
  &:hover {
    .swiper-button-next,
    .swiper-button-prev {

      //  display:block!important;
    }
  }
}

//button
.slider-button {
  font-family: $source;
  background: #f33;
  padding: 14px 32px;
  font-size: 15px;
  color: #fff;
  &:hover {
    cursor: pointer;
  //  background: #5d5d5d;
  }
  &:visited {
    color: #fff;
  }
  @include breakpoint($medium-screens) {
    padding: 15px 36px;
    font-size: 18px;
    &:hover {

    }
    &:visited {

    }
  }
  &:hover{
    background-color: #fff!important;
    color:#f33;
  }
}

//Slider-home
$placa-1-baseline: 150px;
$placa-1-baseline-small: 215px;
$placa-1-arrow-bottom: 170px;
$placa-1-arrow-bottom-small: 230px;
.home-slider {
  .placa-1 {
    .capt-header {
      font-family: $asap;
      font-size: 30px;
      font-weight: 400;
      top: 50px;
      left: 6%;
      width: 90%;
      text-align: left;
    }
    .capt-empleado-img {
      bottom: $placa-1-baseline-small;
      left: 7%;
      width: 20%;
    }
    .capt-globo-img {
      bottom: 265px;
      width: 40px;
      left: 24%;
    }
    .capt-empleado-txt {
      bottom: 195px;
      left: 9%;
      font-size: 11px;
    }
    .capt-especialista-img {
      bottom: $placa-1-baseline-small;
      width: 20%;
      margin: 0 auto;
      left: -1%;
      right: 0;
      text-align: center;
    }
    .capt-especialista-txt {
      bottom: 185px;
      width: 100px;
      margin: 0 auto;
      left: -1%;
      right: 0;
      text-align: center;
      font-size: 11px;
    }
    .capt-especialista {
      top: 100px;
      left: 50%;
    }
    .capt-flecha-1 {
      bottom: $placa-1-arrow-bottom-small;
      left: 30%;
      width: 20px;
    }
    .capt-web {
      bottom: 250px;
      left: -1001%;
    }
    .capt-telefono {
      bottom: 250px;
      left: -1001%;
    }
    .capt-email {
      bottom: 95px;
      left: -1001%;
    }
    .capt-fax {
      bottom: 95px;
      left: -1001%;
    }
    .capt-flecha-2 {
      bottom: $placa-1-arrow-bottom-small;
      left: 61%;
      width: 20px;
    }
    .capt-empresa-img {
      bottom: $placa-1-baseline-small;
      left: 72%;
      width: 22%;
    }
    .capt-empresa-txt {
      bottom: 195px;
      left: 75%;
      font-size: 11px;
    }
    @include breakpoint($medium-screens) {
      .capt-header {
        font-family: $asap;
        font-size: 40px;
        font-weight: 700;
        top: 87px;
        width: 100%;
        text-align: center;
        left: auto;
      }
      .capt-empleado-img {
        bottom: $placa-1-baseline;
        left: 4%;
        width: auto;
      }
      .capt-globo-img {
        bottom: 225px;
        width: 70px;
        left: 10.5%;
      }
      .capt-empleado-txt {
        bottom: 128px;
        left: 4.7%;
        font-size: 14px;
      }
      .capt-especialista-img {
        bottom: $placa-1-baseline;
        width: 300px;
        margin: 0 auto;
        left: 2%;
        right: 0;
        text-align: center;
      }
      .capt-especialista-txt {
        bottom: 110px;
        width: 100px;
        margin: 0 auto;
        left: 2%;
        right: 0;
        text-align: center;
        font-size: 14px;
      }
      .capt-especialista {
        top: 100px;
        left: 50%;
      }
      .capt-flecha-1 {
        bottom: $placa-1-arrow-bottom;
        left: 21%;
        width: auto;
      }
      .capt-web {
        bottom: 250px;
        left: 32%;
      }
      .capt-telefono {
        bottom: 250px;
        left: 63.5%;
      }
      .capt-email {
        bottom: 95px;
        left: 32%;
      }
      .capt-fax {
        bottom: 95px;
        left: 63.5%;
      }
      .capt-flecha-2 {
        bottom: $placa-1-arrow-bottom;
        left: 77%;
        width: auto;
      }
      .capt-empresa-img {
        bottom: $placa-1-baseline;
        left: 85%;
      }
      .capt-empresa-txt {
        bottom: 128px;
        left: 87%;
        font-size: 14px;
      }
    }
  }
  .placa-2 {
    .capt-header {

      //  display:none;
      font-family: $asap;
      font-size: 32px;
      font-weight: 400;
      top: 30px;
      line-height: 32px;
      left: 6%;
      width: 90%;
    }
    .capt-description {
      font-family: $asap;
      font-size: 14px;
      color: #fff;
      top: 150px;
      width: 90%;
      left: 6%;
      line-height: 17px;
    }
    .capt-button {
      top: 240px;
      left: 6%;
    }
    .capt-icon-img {
      bottom: 145px;
      right: -10000%;
    }
    @include breakpoint($medium-screens) {
      .capt-header {
        font-family: $asap;
        font-size: 30px;
        font-weight: 700;
        top: 55px;
        line-height: 34px;
        left: 2%;
        width: 40%;
      }
      .capt-description {
        font-family: $asap;
        font-size: 16px;
        color: #fff;
        top: 180px;
        width: 40%;
        left: 2%;
        line-height: 22px;
      }
      .capt-button {
        top: 282px;
        left: 2%;
      }
      .capt-icon-img {
        bottom: 145px;
        right: 13.5%;
      }
      @include breakpoint($large-screens) {
        .capt-header {
          font-size: 40px;
          font-weight: 700;
          top: 55px;
          line-height: 45px;
          width: 36%;
          left: 2%;
        }
        .capt-description {
          font-size: 18px;
          color: #fff;
          top: 220px;
          width: 36%;
          left: 2%;
          line-height: 22px;
        }
        .capt-button {
          top: 332px;
          left: 2%;
        }
        .capt-icon-img {
          bottom: 145px;
          right: 13.5%;
        }
      }
    }
  }
  .placa-3 {
    .capt-header {

      //  display:none;
      font-family: $asap;
      font-size: 32px;
      font-weight: 400;
      top: 30px;
      line-height: 32px;
      left: 6%;
      width: 90%;
    }
    .capt-description {
      font-family: $asap;
      font-size: 14px;
      color: #fff;
      top: 130px;
      width: 90%;
      left: 6%;
      line-height: 17px;
    }
    .capt-button {
      top: 240px;
      left: 6%;
    }
    .capt-icon-img {
      bottom: 145px;
      right: -10000%;
    }
    @include breakpoint($medium-screens) {
      .capt-header {
        font-family: $asap;
        font-size: 30px;
        font-weight: 700;
        top: 55px;
        line-height: 34px;
        left: 2%;
        width: 40%;
      }
      .capt-description {
        font-family: $asap;
        font-size: 16px;
        color: #fff;
        top: 160px;
        width: 40%;
        left: 2%;
        line-height: 22px;
      }
      .capt-button {
        top: 322px;
        left: 2%;
      }
      .capt-icon-img {
        bottom: 145px;
        right: 13.5%;
      }
    }
    @include breakpoint($large-screens) {
      .capt-header {

        //  display:none;
        font-family: $asap;
        font-size: 40px;
        font-weight: 700;
        top: 55px;
        line-height: 45px;
        left: 2%;
        width: 36%;
      }
      .capt-description {
        font-family: $asap;
        font-size: 18px;
        color: #fff;
        top: 170px;
        width: 36%;
        left: 2%;
        line-height: 22px;
      }
      .capt-button {
        top: 300px;
        left: 2%;
      }
      .capt-icon-img {
        bottom: 185px;
        right: 18%;
      }
    }
  }
  .placa-4 {
    .capt-header {

      //  display:none;
      font-family: $asap;
      font-size: 32px;
      font-weight: 400;
      top: 30px;
      line-height: 32px;
      left: 6%;
      width: 80%;
    }
    .capt-description {
      font-family: $asap;
      font-size: 14px;
      color: #fff;
      top: 180px;
      width: 90%;
      left: 6%;
      line-height: 17px;
    }
    .capt-button {
      top: 280px;
      left: 6%;
    }
    .capt-icon-img {
      bottom: 145px;
      right: -10000%;
    }
    @include breakpoint($medium-screens) {
      .capt-header {
        font-family: $asap;
        font-size: 30px;
        font-weight: 700;
        top: 55px;
        line-height: 34px;
        left: 2%;
        width: 40%;
      }
      .capt-description {
        font-family: $asap;
        font-size: 16px;
        color: #fff;
        top: 180px;
        width: 40%;
        left: 2%;
        line-height: 22px;
      }
      .capt-button {
        top: 322px;
        left: 2%;
      }
      .capt-icon-img {
        bottom: 145px;
        right: 13.5%;
      }
    }
    @include breakpoint($large-screens) {
      .capt-header {

        //  display:none;
        font-family: $asap;
        font-size: 40px;
        font-weight: 700;
        top: 55px;
        line-height: 45px;
        left: 2%;
        width: 40%;
      }
      .capt-description {
        font-family: $asap;
        font-size: 18px;
        color: #fff;
        top: 220px;
        width: 36%;
        left: 2%;
        line-height: 22px;
      }
      .capt-button {
        top: 355px;
        left: 2%;
      }
      .capt-icon-img {
        bottom: 170px;
        right: 15.5%;
      }
    }
  }
  .placa-5 {
    .capt-header {
      font-family: $asap;
      font-size: 40px;
      font-weight: 400;
      top: 45px;
      width: 100%;
      text-align: center;
      right: 0;

      //left:-5px;
    }
    .capt-mail-link {
      font-family: $asap;
      font-size: 18px;
      color: #fff;
      top: 150px;
      width: 100%;
      text-align: center;
      left: -1000%;
      a {
        color: #fff;
        &:visited {
          color: #fff!important;
        }
      }
    }
    .capt-seguimiento {
      left: 0;
      color: #fff;
      display: block;
      top: 248px;
      width: 100%;
      text-align: center;
      position: relative;
      h1 {
        margin: 0 auto;
        left: 0;
        right: 0;
        padding: 0;
        position: absolute;
        background: #666;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 210px;
        height: 50px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        z-index: 2;
      }
      img {
        position: relative;
        z-index: 3;
        margin: 0;
        top: 20px;
        left: -23%;
        width: 10%;
        -webkit-filter: brightness(10%);
      }
      span {
        position: absolute;
        top: 15px;
        width: 142px;
        text-align: center;
        font-size: 22px;
        left: 35px;
        right: 0;
        margin: 0 auto;

        //margin:0;
        z-index: 10;
      }
      &:hover {
        h1 {
          -ms-transform: scale(1.2);
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }
      }
    }
    .capt-reporte {
      left: 0;
      color: #fff;
      display: block;
      top: 180px;
      width: 100%;
      text-align: center;
      position: relative;
      h1 {
        margin: 0 auto;
        left: 0;
        right: 0;
        padding: 0;
        position: absolute;
        background: #f33;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 210px;
        height: 50px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        z-index: 2;
      }
      img {
        position: relative;
        z-index: 3;
        margin: 0;
        top: 18px;
        width: 18px;
        left: -23%;
        z-index: 4;
      }
      span {
        position: absolute;
        top: 15px;
        width: 142px;
        text-align: center;
        font-size: 22px;
        left: 35px;
        right: 0;
        margin: 0 auto;

        //margin:0;
        z-index: 10;
      }
      &:hover {
        h1 {
          -ms-transform: scale(1.2);
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }
      }
    }
    @include breakpoint($smallmax-screens) {
      .capt-header {
        font-family: $asap;
        font-size: 40px;
        font-weight: 400;
        top: 45px;
        width: 100%;
        text-align: center;
        right: 0;

        //left:-5px;
      }
      .capt-mail-link {
        font-family: $asap;
        font-size: 18px;
        color: #fff;
        top: 150px;
        width: 100%;
        text-align: center;
        left: 0;
        a {
          color: #fff;
          &:visited {
            color: #fff!important;
          }
        }
      }
      .capt-seguimiento {
        left: 0;
        color: #fff;
        display: block;
        top: 300px;
        width: 100%;
        text-align: center;
        position: relative;
        h1 {
          margin: 0 auto;
          left: 0;
          right: 0;
          padding: 0;
          position: absolute;
          background: #666;
          border-top-left-radius: 15px;
          border-bottom-right-radius: 15px;
          width: 210px;
          height: 50px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          z-index: 2;
        }
        img {
          position: relative;
          z-index: 3;
          margin: 0;
          top: 18px;
          left: -80px;
          width: 40px;
          -webkit-filter: brightness(10%);
        }
        span {
          position: absolute;
          top: 15px;
          width: 142px;
          text-align: center;
          font-size: 22px;
          left: 35px;
          right: 0;
          margin: 0 auto;

          //margin:0;
          z-index: 10;
        }
        &:hover {
          h1 {
            -ms-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
          }
        }
      }
      .capt-reporte {
        left: 0;
        color: #fff;
        display: block;
        top: 220px;
        width: 100%;
        text-align: center;
        position: relative;
        h1 {
          margin: 0 auto;
          left: 0;
          right: 0;
          padding: 0;
          position: absolute;
          background: #f33;
          border-top-left-radius: 15px;
          border-bottom-right-radius: 15px;
          width: 210px;
          height: 50px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          z-index: 2;
        }
        img {
          position: relative;
          z-index: 3;
          margin: 0;
          top: 18px;
          width: 18px;
          left: -80px;
          z-index: 4;
        }
        span {
          position: absolute;
          top: 15px;
          width: 142px;
          text-align: center;
          font-size: 22px;
          left: 35px;
          right: 0;
          margin: 0 auto;

          //margin:0;
          z-index: 10;
        }
        &:hover {
          h1 {
            -ms-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
          }
        }
      }
    }
    @include breakpoint($medium-screens) {
      .capt-header {
        font-family: $asap;
        font-size: 40px;
        font-weight: 700;
        top: 87px;
        width: 100%;
        text-align: center;
        right: -5px;

        //left:-5px;
      }
      .capt-mail-link {
        font-family: $asap;
        font-size: 18px;
        color: #fff;
        top: 150px;
        width: 100%;
        text-align: center;
        left: 0;
        a {
          color: #fff;
          &:visited {
            color: #fff!important;
          }
        }
      }
      .capt-seguimiento {
        left: 29%;
        color: #fff;
        display: block;
        top: 228px;
        width: 142px;
        text-align: center;
        position: relative;
        h1 {
          margin: 0;
          padding: 0;
          position: absolute;
          background: #fff;
          border-top-left-radius: 45px;
          border-bottom-right-radius: 45px;
          width: 142px;
          height: 122px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          z-index: 2;
        }
        img {
          position: relative;
          z-index: 3;
          margin: 0;
          top: 40px;
          width: auto;
          left: auto;
          -webkit-filter:none;

        }
        span {
          position: absolute;
          top: 148px;
          width: 142px;
          left: 0;
          text-align: center;
          font-size: 18px;
        }
        &:hover {
          h1 {
            -ms-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
          }
        }
      }
      .capt-reporte {
        right: 29%;
        color: #fff;
        left: auto;
        display: block;
        top: 228px;
        width: 142px;
        text-align: center;
        position: relative;
        h1 {
          margin: 0;
          padding: 0;
          position: absolute;
          background: #f33;
          border-top-left-radius: 45px;
          border-bottom-right-radius: 45px;
          width: 142px;
          height: 122px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          z-index: 2;
        }
        img {
          position: relative;
          z-index: 3;
          margin: 0;
          top: 40px;
          width: auto;
          left: auto;
        }
        span {
          position: absolute;
          top: 148px;
          width: 142px;
          text-align: center;
          font-size: 18px;
          left: 0;
        }
        &:hover {
          h1 {
            -ms-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
          }
        }
      }
    }
    @include breakpoint($large-screens) {
      .capt-header {

      }
      .capt-mail-link {
        a {
          &:visited {

          }
        }
      }
      .capt-seguimiento {
        left: 33.5%;
        h1 {

        }
        img {

        }
        span {

        }
        &:hover {
          h1 {

          }
        }
      }
      .capt-reporte {
        right: 33.5%;
        h1 {

        }
        img {

        }
        span {

        }
        &:hover {
          h1 {

          }
        }
      }
    }
  }
}
.quienes-somos-slider {
  .placa-1,
  .placa-2,
  .placa-3,
  .placa-4,
  .placa-5 {
    .capt-header {

      //  display:none;
      font-family: $asap;
      font-size: 30px;
      font-weight: 400;
      top: 35px;
      line-height: 30px;
      left: 6%;
      width: 90%;
    }
    .capt-description {
      font-family: $asap;
      font-size: 14px;
      color: #fff;
      top: 230px;
      width: 90%;
      left: 6%;
      line-height: 17px;
    }
    .capt-button {
      top: 280px;
      left: 6%;
    }
    .capt-icon-img {
      bottom: 145px;
      right: -10000%;
    }
    @include breakpoint($medium-screens) {
      .capt-header {
        font-family: $asap;
        font-size: 30px;
        font-weight: 700;
        top: 55px;
        line-height: 34px;
        left: 6%;
        width: 60%;
      }
      .capt-description {
        font-family: $asap;
        font-size: 16px;
        color: #fff;
        top: 180px;
        width: 40%;
        left: 6%;
        line-height: 22px;
      }
      .capt-button {
        top: 322px;
        left: 6%;
      }
      .capt-icon-img {
        bottom: 145px;
        right: 13.5%;
      }
    }
    @include breakpoint($large-screens) {
      .capt-header {

        //  display:none;
        font-family: $asap;
        font-size: 40px;
        font-weight: 700;
        top: 55px;
        line-height: 47px;
        left: 1.8%;
        width: 50%;
      }
      .capt-description {
        font-family: $asap;
        font-size: 18px;
        color: #fff;
        top: 265px;
        width: 36%;
        left: 1.8%;
        line-height: 22px;
      }
      .capt-button {
        top: 335px;
        left: 1.8%;
      }
      .capt-icon-img {
        bottom: 170px;
        right: 15.5%;
      }
    }
  }
}
.servicios-slider {
  .placa-1 {
    .capt-header {

      //  display:none;
      font-family: $asap;
      font-size: 30px;
      font-weight: 400;
      top: 35px;
      line-height: 30px;
      left: 6%;
      width: 90%;
    }
    .capt-description {
      font-family: $asap;
      font-size: 14px;
      color: #fff;
      top: 160px;
      width: 90%;
      left: 6%;
      line-height: 17px;
    }
    .capt-button {
      top: 260px;
      left: 6%;
    }
    .capt-icon-img {
      bottom: 145px;
      right: -10000%;
    }
    @include breakpoint($medium-screens) {
      .capt-header {
        font-family: $asap;
        font-size: 30px;
        font-weight: 700;
        top: 55px;
        line-height: 34px;
        left: 6%;
        width: 40%;
      }
      .capt-description {
        font-family: $asap;
        font-size: 16px;
        color: #fff;
        top: 190px;
        width: 40%;
        left: 6%;
        line-height: 22px;
      }
      .capt-button {
        top: 322px;
        left: 6%;
      }
      .capt-icon-img {
        bottom: 145px;
        right: 13.5%;
      }
    }
    @include breakpoint($large-screens) {
      .capt-header {

        //  display:none;
        font-family: $asap;
        font-size: 40px;
        font-weight: 700;
        top: 55px;
        line-height: 47px;
        left: 1.8%;
        width: 40%;
      }
      .capt-description {
        font-family: $asap;
        font-size: 18px;
        color: #fff;
        top: 235px;
        width: 36%;
        left: 1.8%;
        line-height: 22px;
      }
      .capt-button {
        top: 365px;
        left: 1.8%;
      }
      .capt-icon-img {
        bottom: 170px;
        right: 15.5%;
      }
    }
  }
  .placa-2 {
    .capt-header {

      //  display:none;
      font-family: $asap;
      font-size: 30px;
      font-weight: 400;
      top: 35px;
      line-height: 30px;
      left: 6%;
      width: 90%;
    }
    .capt-third {
      width: 90%;
      text-align: left;
      position: relative;
      img {
        max-width:50px;
      }
      h5 {
        text-transform: uppercase;
        margin: 10px 0;
        font-size: 16px;
        font-weight: 600;
        font-family: $source;
        position: absolute;
        left:60px;
        top:0;
        //width: auto;

      }
      p {
        display:none;
        font-family: $source;
        margin: 0;
        color: #fff;
        width: 60%;
        margin: 0 auto;
        left: 0;
        right: 0;
        font-size: 16px;
        font-weight: 300;
      }
    }
    .capt-one {
      top:145px;
      left: 20px;
    }
    .capt-two {
      top:200px;
      left: 20px;
    }
    .capt-three {
      top:255px;

      left: 20px;
    }
    @include breakpoint($medium-screens) {
      .capt-header {
        font-family: $asap;
        font-size: 30px;
        font-weight: 700;
        top: 55px;
        line-height: 34px;
        left: 6%;
        width: 60%;
      }

      .capt-third {
        top: 220px;
        width: 33%;
        text-align: center;
        img{
          max-width: none;
        }
        h5 {
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 600;
          font-family: $source;
          position:relative;
          top:auto;
          margin:10px auto;
          left:0;
          right:0;


        }
        p {
          display:block;
          font-family: $source;
          margin: 0;
          color: #fff;
          width: 60%;
          margin: 0 auto;
          left: 0;
          right: 0;
          font-size: 16px;
          font-weight: 300;
        }
      }
      .capt-one {
        top: 220px;


        left: 0;
      }
      .capt-two {
        top: 220px;

        margin: 0 auto;
        left: 0;
        right: 0;
      }
      .capt-three {
        top: 220px;
        left:auto;
        right: 0!important;
      }
    }
    @include breakpoint($large-screens) {
      .capt-header {

        //  display:none;
        font-family: $asap;
        font-size: 40px;
        font-weight: 700;
        top: 55px;
        line-height: 47px;
        left: 0;
        width: 100%;
        text-align: center;
      }
      .capt-third {
        top: 200px;
        width: 33%;
        text-align: center;
        img {

        }
        h5 {
          text-transform: uppercase;
        //  margin: 10px auto;
          font-size: 18px;
          font-weight: 600;
          font-family: $source;
        }
        p {
          font-family: $source;
          margin: 0;
          color: #fff;
          width: 60%;
          margin: 0 auto;
          left: 0;
          right: 0;
          font-size: 18px;
          font-weight: 300;
        }
      }
      .capt-one {
        left: 0;
      }
      .capt-two {
        margin: 0 auto;
        left: 0;
        right: 0;
      }
      .capt-three {
        right: 0!important;
      }
    }
  }
  .placa-3 {
    .capt-header {

      //  display:none;
      font-family: $asap;
      font-size: 30px;
      font-weight: 400;
      top: 35px;
      line-height: 30px;
      left: 6%;
      width: 90%;
    }
    .capt-description {
      font-family: $asap;
      font-size: 14px;
      color: #fff;
      top: 160px;
      width: 90%;
      left: 6%;
      line-height: 17px;
    }
    .capt-button {
      top: 260px;
      left: 6%;
    }
    ul{
      display:none;
    }
    @include breakpoint($medium-screens) {
      .capt-header {
        font-family: $asap;
        font-size: 30px;
        font-weight: 700;
        top: 55px;
        line-height: 34px;
        left: 6%;
        width: 40%;
      }
      .capt-description {
        font-family: $asap;
        font-size: 16px;
        color: #fff;
        top: 190px;
        width: 40%;
        left: 6%;
        line-height: 22px;
      }
      .capt-button {
        top: 322px;
        left: 6%;
      }
    }
    @include breakpoint($large-screens) {
      .capt-header {

        //  display:none;
        font-family: $asap;
        font-size: 40px;
        font-weight: 700;
        top: 55px;
        line-height: 47px;
        left: 1.8%;
        width: 40%;
      }
      .capt-description {
        font-family: $asap;
        font-size: 18px;
        color: #fff;
        top: 170px;
        width: 36%;
        left: 1.8%;
        line-height: 22px;
      }
      .capt-button {
        top: 305px;
        left: 1.8%;
      }
      ul {
        display:block;
        position: absolute;
        margin: 0;
        padding: 0;
        left: 56%;
        top: 70px;
        li {
          list-style-type: none;
          img {
            display: inline-block;
            clear: none;
            position: relative;
            top: 25px;
          }
          h4 {
            position: relative;
            display: inline-block;
            clear: none;
            left: 20px;
          }

          //display:none;
        }
      }
    }
  }
}
.contacto-slider {
  .placa-1 {
    .capt-header {

      //  display:none;
      font-family: $asap;
      font-size: 30px;
      font-weight: 400;
      top: 35px;
      line-height: 30px;
      left: 6%;
      width: 90%;
    }
    .capt-iconos-img,
    .capt-mapa-img {
      top: 170px;
      text-align: center;
      width: 100%;
    }
    @include breakpoint($medium-screens) {
      .capt-header {
        font-family: $asap;
        font-size: 30px;
        font-weight: 700;
        line-height: 34px;
        top: 85px;
        right: 7.5%;
        left: auto;
        width: 33%;
      }
      .capt-iconos-img,
      .capt-mapa-img {
        top: 50px;
        text-align: center;
        width: 100%;
      }
    }
    @include breakpoint($large-screens) {
      .capt-header {

        //  display:none;
        font-family: $asap;
        font-size: 40px;
        font-weight: 700;
        line-height: 47px;
        top: 85px;
        right: 7.5%;
        left: auto;
        width: 33%;
      }
      .capt-iconos-img,
      .capt-mapa-img {
        top: 0;
        left: -20px;
        text-align: center;
        width: 100%;
      }
    }
  }
}
