section#twitter {
  //height: 390px;
  padding: 20px 0 60px;
  color: $color-twitter;
  background: $bg-twitter;
  .in-frame {
    padding:0 10px 0 20px;
    position: relative;
    h1 {
      display: inline-block;
    }
    .twitter-button {
      position: absolute;
      top: 32px;
      right: 0px;
      width: 170px;
      height: 33px;
      background-color: #ddd;
    }
    article {
      p {
        margin-top:18px;
        font-family: $source;
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        margin-bottom: 26px;
        color: #fff;
        letter-spacing: .04em;

      }
      footer {
        .date,
        a {
          font-family: $source;
          font-size: 16px;
          font-weight: 200;
          margin-right: 10px;
          color: #ccc;
        }
      }
    }
  }
}
