section#video {
  text-align: center;
  padding: 0 0 40px;
  .video-container {
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 90%;

    //padding:0 5%;
    position: relative;
    .compartir-vertical {
      z-index: -1;
  //    position: relative;
    //  right: -40px;
    //  top: 0;
      width: 100%;
      margin-top:25px;
      ul {
        li {
          display: inline-block;
          width: 40px;
          text-align: center;
          background-color: #ddd;
          margin-bottom: 0!important;
          margin-right:0!important;
          height: 35px;
          //border-top: 1px solid #000;
          padding-top: 2px;
          margin:0 -5px;
          a {
          //  width:100%;
            margin: 0 auto;
            left: 0;
            right: 0;
            color: #fff;
            font-size:14px;

            //  font-size:25px;
          }
        }
      }
    }
    &:after {

    }
  }
  @media (min-width:$large) {
    text-align: center;
    padding: 0 0 70px;
    .video-container {
  margin:0 0 0 7%;
      width: 82%;


      //padding:0 5%;
      position: relative;
      .compartir-vertical {
        position: absolute;
        right: -60px;
        top: -25px;
        width: 60px;
        ul {
          li {
            display: block;
            width: 55px;
            text-align: center;
            background-color: #ddd;
            margin-bottom: 0!important;
            height: 45px;
            //border-top: 1px solid #000;
            padding-top: 5px;
            a {
              margin: 0 auto;
              left: 2px;
              right: 0;
              color: #fff;
              width:55px;
              font-size: 22px;

              //  font-size:25px;
            }
          }
        }
      }
      &:after {

      }
    }
  }
}
