$menu-first-level-anchor: #ed1558;
$menu-first-level-anchor-hover: #ee5d8a;
$menu-first-level-anchor-fontsize: 16;
.header {
  height: 130px;
  border-bottom: 1px solid #f33;
  .in-frame {
    padding: 0;
    .header-top {
      height: 55px;
      padding-left: 10px;
      border-bottom: 2px solid #f33;
      position: relative;

      //  @include container(100% center fluid);
      .logo {
        margin-left: 20px;
        margin-top: 22px;
      }
      .nav-toggle {
        position: absolute;
        text-align: center;
        top: 10px;
        right: 20px;
        background: #999;
        padding: 3px;
        height: 35px;
        width: 42px;
        i {
          font-size: 32px;
          color: #fff;
          margin: 0 auto;
          left: 0;
          right: 0;
          position: relative;
          top:-2px;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .social {
        margin-top: 12px;
        text-align: right;
        .soc {

          //margin-right: 120px;
          li {
            a {
              font-size: 18px!important;
              width: 23px;
            }
          }
        }
      }
    }
    .header-bottom {
      height: 40px;
      padding: 5px 0 0;
      background: #eee;
      nav {
        padding-left: 10px;
        display: none;
        ul {
          margin: 0;
          padding: 0;
          li {
            display: inline-block;
            text-align: center;

            //  padding: 7px 27px 0 0;
            list-style-type: none;
            position: relative;
            a {
              font-family: $asap;
              font-size: 15px;
              text-transform: uppercase;
              color: #333;
              &:hover,
              &.active {
                color: #f33;
              }
            }
          }
        }
      }
      aside {

        //padding:0 10px;
        //padding-left: 10px;
        text-align: left;
        padding-top: 10px;
        background: #fff;
        text-align: center;
        background: #eee;
        a {
          margin-bottom: 10px;
          display: inline-block;
          width: 280px;
          margin-right: 0;
          height: 35px;
          i {
            top: 5px;
            left: 0px;
            font-size: 25px;
          }
          span {
            position: relative;
            top: 0;
            left: 0px;
            font-size: 15px;
          }
          &.gray {
            i {
              top: 5px;
              left: 0px;
              font-size: 30px;
            }
          }
          &.red {
            i {
              top: 2px;
              left: 0px;
              font-size: 30px;
            }
            span {
              top: -8px;
              left: 0px;
            }
          }
        }
      }
    }
  }
  @include breakpoint($smallmax-screens) {
    .in-frame {
      padding: 0;
      .header-top {
        border-bottom: 0 solid #f33;
      }
      .header-bottom {
        aside {
          padding: 0;
          margin: 0;
          left: auto;
          right: auto;
          a {
            display: inline-block;
            padding: 0;
            margin: 0;

            // float:left;
            height: 30px;
            text-align:center;

            i {
              top: 0;
              left: 0;
              font-size: 0;
              line-height: 0;
              padding: 0;
              margin: 0 auto;
              right:90px;
            }
            span {
              top: 0;
              left: 0;
              font-size: 0;
              line-height: 0;
              margin: 0 auto;
              right:10px;
              padding: 0;
            }
            &.gray {
              i {
                top: 0;
                left: 5px;
                font-size: 30px;
                line-height: 25px;
                padding: 0;
                position: absolute;
              }
              span {
                top: 14px;
                left: 35px;
                font-size: 14px;
                line-height: 0;
                margin: 0;
                padding: 0;
                position: absolute;
              }
            }
            &.red {
              i {
                top: 5px;
                left: 5px;
                font-size: 20px;
                line-height: 25px;
                padding: 0;
                position: absolute;
              }
              span {
                top: 14px;
                left: 26px;
                font-size: 14px;
                line-height: 0;
                margin: 0;
                padding: 0;
                position: absolute;
              }
            }
          }
        }
      }
    }
  }
  @include breakpoint($medium-screens) {
    height: 100px;
  }
  @include breakpoint($large-screens) {
    height: 106px;
    .in-frame {
      .header-top {
        height: 50px;
        padding-left: 10px;
        border-bottom: 0 solid transparent;

        //  @include container(100% center fluid);
        .logo {
          margin-top: 25px;
          margin-left: 18px;
        }
        .nav-toggle {
          display: none;
        }
        .utility-bar {
          width: 220px;
          position: relative;
          .social {
            margin-top: 10px;
            text-align: right;
            margin-right: 10px;
            display: inline-block;
            .soc {

              //  margin-right: 120px;
              li {
                a {
                  font-size: 18px!important;
                  width: 23px;
                  color: #666;
                }
              }
            }
          }
          .lang-selector {
            border-left: 1px solid #ccc;
            display: inline-block;
            position: relative;
            padding-left: 5px;
            top: -10px;
            height: 27px;
            cursor:pointer;
            .icon-world {
              font-size: 20px;
              position: relative;
              top: 3px;
              color: #666;
            }
            .icon-down-open-mini {
              color: #666;
            }
            span {
              font-family: $asap;
              position: relative;
              top: -1px;
              font-size: 13px;
            }
            .selector-dropdown {
              display: none;
              position: absolute;
              top: 27px;
              left: 0px;
              width: 91px;
              background: #f0f0f0;
              padding: 4px 0 0;

              //border-top: 3px solid #aaa;
              z-index: 99;
              margin: 0;
              >li {
                list-style-type: none!important;
                display: block;
                padding: 5px;
                a {
                  color: #999;
                  font-size: 12px;
                  display: block;
                }
                &:hover {
                  background: #d7d7d7;
                }
                &.active {
                  background: #fafafa;
                  position: relative;
                  &:before {
                    content: "g";
                    position: absolute;
                    top: 5px;
                    right: 3px;

                    // width: 20px;
                    // height: 20px;
                    // background: #f00;
                    color: #999;
                    font-family: "resguarda" !important;
                    font-style: normal !important;
                    font-weight: normal !important;
                    font-variant: normal !important;
                    text-transform: none !important;
                    speak: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                  }
                }
              }
              &:after {

              }
            }
            .notch:after {
              content: '';
              display: block;
              position: absolute;
              left: 12px;
              bottom: 100%;
              width: 0;
              height: 0;
              border-bottom: 5px solid #f0f0f0;
              border-top: 5px solid transparent;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
            }
            .notch:after {
              border-bottom-color: #f0f0f0;
            }
            &:hover {
              .selector-dropdown {
                display: block;
              }
            }
          }
        }
      }
      .header-bottom {
        height: 44px;
        padding: 5px 0 0;
        background: #fff;
        nav {
          padding-left: 0;
          margin-left: 0;
          margin-top: 5px;
          ul {
            margin: 0;
            padding: 0;
            li {
              height: 40px;
              display: inline-block;

              //  padding: 7px 27px 0 0;
              list-style-type: none;
              a {
                font-family: $asap;
                font-size: 15px;
                text-transform: uppercase;
                color: #333;
                padding: 0 0 5px;
                &:hover {
                  color: #333;
                  border-bottom: 2px solid #f33;
                }
              }
            }
            >li.active {
              a {
                border-bottom: 2px solid #f33;
              }
            }
          }
        }
        aside {
          padding-left: 30px;
          text-align: left;
          background: #fff;
          a {
            display: inline-block;
            width: 132px;
            margin-right: 6px!important;
          }
        }
      }
    }
  }
  @include breakpoint($xxlarge-screens) {

  }
}

//dropdown
header {
  .in-frame {
    >.header-bottom nav ul {
      li {
        position: relative;
        .dropdown {
          display: none;
          margin: 0;
          padding: 0;
          width: 300px;
          position: absolute;
          top: 41px;

          //  left: 20px;
          z-index: 999;
          background-color: #fff;

          //  padding: 10px 0 20px 0!important;
          li {
            width: 300px;
            background-color: #fff;
            height: 40px!important;
            text-align: left!important;
            border-bottom: 1px solid #ddd;
            padding: 5px;
            position: relative;
            a {
              @include fullanchor();
              font-size: 12px!important;
              text-transform: none!important;
              padding: 5px 5px 10px 5px!important;
              color: #ccc;
            }
            a:hover {
              border: none!important;
            }
          }
          li:nth-last-child(1) {
            border-bottom: 0 solid #ddd;
          }
          li:hover {
            background-color: #ccc;
          }
        }
        &:hover {
          .dropdown {

            //  display: block;
          }
        }
      }
    }
  }
}
.in-page-header,
.hidden-menu {
  .in-frame {
    >.header-bottom nav ul {
      position: relative;
      li {
        .dropdown {
          display: none;
          margin: 0;
          padding: 0;
          width: 300px;
          position: absolute;
          top: 35px;

          //left: 20px;
          z-index: 999;
          background-color: #fff;

          //  padding: 10px 0 20px 0!important;
          li {
            width: 300px;
            background-color: #fff;
            height: 40px!important;
            text-align: left!important;
            border-bottom: 1px solid #ddd;
            padding: 5px;
            position: relative;
            a {
              @include fullanchor();
              font-size: 12px!important;
              text-transform: none!important;
              padding: 5px 5px 10px 5px!important;
              color: #ccc;
            }
            a:hover {
              border: none!important;
            }
          }
          li:nth-last-child(1) {
            border-bottom: 0 solid #ddd;
          }
          li:hover {
            background-color: #ccc;
          }
        }
        &:hover {
          .dropdown {

            //display: block;
          }
        }
      }
    }
  }
}
