$menu-first-level-anchor: #ed1558;
$menu-first-level-anchor-hover: #ee5d8a;
$menu-first-level-anchor-fontsize: 16;
.in-page-header {

  @include breakpoint($large-screens) {
    height:70px;
    .in-frame {
      .header-top {
        display:none;
        //  @include container(100% center fluid);
        .logo {
        }
        .nav-toggle {
        }
        .utility-bar {
          .social {
            .soc {
              li {
                a {
                }
              }
            }
          }
          .lang-selector {
            .icon-world {
            }
            .icon-down-open-mini {
            }
            span {
            }
            .selector-dropdown {
                >li {
                  a {

                  }
                  &:hover{
                  }
                  &.active{
                    &:before{
                    }
                  }
                }
                &:after {


              }
            }


            .notch:after {
            }
            .notch:after {
            }
            &:hover {
              .selector-dropdown {
              }
            }
          }
        }
      }
      .header-bottom {
        padding-top:20px;
        .logo{
              display:block;
                margin:12px 0 0 25px;
        }
        nav {
          padding-top:5px;
          margin-top: 5px;
          ul {
            li {
              a {
                &:hover {
                }
              }
            }
            >li.active {
              a {
              }
            }
          }
        }
        aside {

        //  padding-right: 0px;

          text-align: right;
          padding-top:3px;
          padding-left: 0;

          a {
            position: relative;
            right:15px;
            float:right;
            display: inline-block;
            width: 32px;
            margin-right: 5px!important;
            span{
              display:none;
            }
            &.red{
              i{
                top:4px;
                left:6px;
                font-size:22px;
              }
            }
            &.gray{
              i{
                left:3px;
              }
            }
          }
        }
      }
    }
  }
  @include breakpoint($xxlarge-screens) {

  }
}

//dropdown
.in-page-header .in-frame {
  >.header-bottom nav ul {
    li {
      .dropdown {
        li {
          a {
          }
          a:hover {
          }
        }
        li:nth-last-child(1) {
        }
        li:hover {
        }
      }
      &:hover {
        .dropdown {
        }
      }
    }
  }
}
