body {
  font-size: 14px;
  background-color: #fff;
}
a:visited,
a:focus,
a {
  text-decoration: none;
  color: #f33;
}
img {
  max-width: 100%;
}
strong {

  //font-weight: bold;
}
small {
  font-size: 12px;
  line-height: 11px;
}
p {
  font-weight: 300;
  line-height: 20px;
  clear: both;
  color: #000;
  @include font-size(14);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $asap;
  font-weight: 400;
}
h1 {
  font-size: 40px;
  line-height: 42px;
}
h2 {
  font-size: 30px;
  line-height: 32px;
}
h3 {
  font-size: 26px;
  line-height: 28px;
}
h4 {
  font-size: 18px;
  line-height: 20px;
}
h5 {
  font-size: 16px;
  line-height: 20px;
}
li {
  font-size: 14px;
}
.in-frame {
  background-color: $inframe-color;
}
.template-full,
.template-sidebar,
.template-sidebar {
  main {
    min-height: 500px;
  }
}
.big-button {
  font-family: $source;
  font-size: 14px;
  height: 28px;
  margin: 0 0 10px;
  padding: 0 10px 5px 5px;
  text-align: center;
  color: #fff;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  a {
    @include fullanchor();
    z-index: 1;
  }
  i {
    position: relative;

    //  top:5px;
  }
  &.red {
    background: #f00;
    i {
      font-size: 20px;
      top: 4px;
      left: -3px;
    }
  }
  &.gray {
    background: #666;
    i {
      font-size: 25px;
      top: 0;
      left: -6px;
      height: 33px;
      vertical-align: middle;
    }
  }
  &:visited {
    color: #fff;
  }
  &:hover {
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.5);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.5);
  }
}
.hide-at-start {
  display: none;
}
.shadowed:hover {
  filter:"progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
  filter:url("#drop-shadow");
  -webkit-filter: drop-shadow(0px 0px 3px rgba(50, 50, 50, 0.5));
  filter:drop-shadow(0px 0px 3px rgba(50, 50, 50, 0.5));
}
