.menu-toggle {

}
.mobile-navigation {
  display: none;
  z-index: 16;
  position: relative;
  nav {
    >ul {
      margin: 0;
      padding: 0;
      background-color: #fff;
      >li {
        width: 100%;

        //height:40px;
        list-style-type: none;
        >a {
          text-transform: uppercase;
          color: #333;
          border-bottom: 1px solid #e8e8e8;
          width: 100%;
          display: block;
          padding: 10px;
          font-family: $asap;
        }
        &:nth-child(1) {
          a {
            border-top: 1px solid #e8e8e8;
          }
        }
        >.dropdown {
          display: none;
          padding: 0;
          margin: 0;
          >li {
            list-style-type: none;

            //  height:40px;
            background-color: #f7f7f7!important;
            >a {
              padding: 10px 20px 20px;
              height: auto!important;
              border-bottom: 1px solid #e9e9e9;
              display: block;
              font-size: 13px;
              font-family: $asap;
              color: #333;
            }
          }
        }
      }

      .caret-holder-down {
        background-color: #fff;
        a{
          color:#000;
          border-bottom: 1px solid #e8e8e8;

        }
        position: relative;
        &:before {
          content: "B";
          position: absolute;
          top: 12px;
          right: 20px;
          // width: 20px;
          // height: 20px;
        //  background: #f00;
        color:#000;

          font-family: "resguarda" !important;
          font-style: normal !important;
          font-weight: normal !important;
          font-variant: normal !important;
          text-transform: none !important;
          speak: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
      .caret-holder-up {
       background-color: #999999;
        a{
          color:#fff;
          border-bottom: 1px solid #7a7a7a;

        }
        position: relative;
        &:before {
          content: "z";
          position: absolute;
          top: 12px;
          right: 20px;
          // width: 20px;
          // height: 20px;
        //  background: #f00;
        color:#fff;
          font-family: "resguarda" !important;
          font-style: normal !important;
          font-weight: normal !important;
          font-variant: normal !important;
          text-transform: none !important;
          speak: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
    }
  }
  @include breakpoint($large-screens) {

  display:none!important;}
}
