.hidden-menu {
  -webkit-transform: translateZ(0);


  .in-frame{
    display:none;
  }
  .header-bottom {

    height: 40px;
    padding: 5px 0 0;

    //    background: #fff;
    nav {
      padding-left: 10px;
      display: none;
      ul {
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          text-align: center;

          //  padding: 7px 27px 0 0;
          list-style-type: none;
          a {
            font-family: $asap;
            font-size: 15px;
            text-transform: uppercase;
            color: #333;
            &:hover,
            &.active {
              color: #f33;
            }
          }
        }
      }
    }
    aside {

      //padding:0 10px;
      //padding-left: 10px;
      text-align: left;
      padding-top: 10px;
      background: #fff;
      text-align: center;
      a {
        margin-bottom: 10px;
        display: inline-block;
        width: 280px;
        margin-right: 0;
        height: 35px;
        i {
          top: 5px;
          left: -10px;
          font-size: 25px;
        }
        span {
          position: relative;
          top: 0;
          left: -10px;
          font-size: 15px;
        }
        &.gray {
          i {
            top: 5px;
            left: -10px;
            font-size: 30px;
          }
        }
        &.red {
          i {
            top: 2px;
            left: -10px;
            font-size: 30px;
          }
          span {
            top: -8px;
            left: -10px;
          }
        }
      }
    }
  }
  @include breakpoint($medium-screens) {

    .header-bottom {
      aside {

        padding: 0;
        margin: 0;
        left: auto;
        right: auto;
        a {
          display: inline-block;
          padding: 0;
          margin: 0;

          // float:left;
          height: 30px;
          i {
            top: 0;
            left: 0;
            font-size: 0;
            line-height: 0;
            padding: 0;
          }
          span {
            top: 0;
            left: 0;
            font-size: 0;
            line-height: 0;
            margin: 0;
            padding: 0;
          }
          &.gray {
            i {
              top: 0;
              left: 5px;
              font-size: 30px;
              line-height: 25px;
              padding: 0;
              position: absolute;
            }
            span {
              top: 14px;
              left: 35px;
              font-size: 14px;
              line-height: 0;
              margin: 0;
              padding: 0;
              position: absolute;
            }
          }
          &.red {
            i {
              top: 5px;
              left: 5px;
              font-size: 20px;
              line-height: 25px;
              padding: 0;
              position: absolute;
            }
            span {
              top: 14px;
              left: 26px;
              font-size: 14px;
              line-height: 0;
              margin: 0;
              padding: 0;
              position: absolute;
            }
          }
        }
      }
    }
    @include breakpoint($large-screens) {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: #fff;
      z-index: 9999;
      border-bottom: 1px solid #f33;
      .in-frame{
        display: block;

      }

      .header-bottom {
        height: 50px;
        padding: 5px 0 0;
        .logo{
          margin:12px 0 0 25px;

        }
        nav {
          display:block;
          padding-left: 0;
          padding-top:5px;
          margin-top: 5px;
          ul {
            margin: 0;
            padding: 0;
            li {
              height: 25px;
              display: inline-block;
              text-align: center;

              //  padding: 7px 27px 0 0;
              list-style-type: none;
              a {
                font-family: $asap;
                font-size: 15px;
                text-transform: uppercase;
                color: #333;
                padding: 0 0 5px;
                &:hover {
                  color: #333;
                  border-bottom: 2px solid #f33;
                }
              }
            }
            >li.active {
              a {
                border-bottom: 2px solid #f33;
              }
            }
          }
        }
        aside {

        //  padding-right: 0px;

          text-align: right;
          padding-top:3px;

          a {
            position: relative;
          right:20px;
            float:right;
            display: inline-block;
            width: 32px;
            margin-left: 5px!important;
            span{
              display:none;
            }
            &.red{
              i{
                top:4px;
                left:6px;
                font-size:22px;
              }
            }
            &.gray{
              i{
                left:3px;
              }
            }
          }
        }
      }
    }
  }
}
