@include border-box-sizing;

//$fullwidth: 1400px;
$gridSizeDefault-large: 1040px;
$gridSizeDefault-xxlarge: 1200px;

//@include breakpoint($large-screens) {
//@include breakpoint($xxlarge-screens) {
//$susy: (gutters: 0);
//@include breakpoint($smallmax-screens) {}
//@include container($gridSizeBlog center fluid);
//@include span(24 of 24 last);
//@inlclude gallery(1 of 4);

@include border-box-sizing;

//$fullwidth: 1400px;
$gridSizeDefault-large: 1040px;
$gridSizeDefault-xxlarge: 1200px;

//@include breakpoint($large-screens) {
//@include breakpoint($xxlarge-screens) {
//$susy: (gutters: 0);
//@include breakpoint($smallmax-screens) {}
//@include container($gridSizeBlog center fluid);
//@include span(24 of 24 last);
//@inlclude gallery(1 of 4);

@import "parts/in-frame";
@import "sections/alianzas";
@import "sections/beneficios";
@import "sections/reportes";
@import "sections/que-hacemos";
@import "sections/servicios";
@import "sections/slider";
@import "sections/contacto";
@import "sections/separator";


@import "parts/header";
@import "sections/twitter";
@import 'sections/novedades';
@import 'parts/header-article';
@import 'parts/templates';
@import 'parts/agenda';
@import 'parts/footer-navigation';
@import 'parts/hidden-menu';
@import 'parts/sidebar-widget-header';
@import 'parts/comment-sidebar';
@import 'parts/article-footer';

@import 'pages/clientes-in';
@import 'pages/novedades-agenda';


.hide-for-small{
  display:none;
  @media (min-width:$large){
    display:block;
  }
}
