.agenda-widget {
  .agenda-content {
    .preloader {
      width: 100%;
      height: 200px;
      padding: 40px 0 0;
      text-align: center;
      background: url('../img/loader.gif')no-repeat;
      background-position: center center;
    }
  }
  article {
    margin-top: 25px;
    margin-bottom: 60px;
    aside {
      .day {
        font-size: 22px;
        font-weight: 200;
        position: relative;
        top: 10px;
        padding: 4px;
        color: #fff;
        background: #f66;
        a{
          color:#fff;
        }
      }
    }
    main {
      .hour{
        color:#999;

      }
      h4 {
        margin:  0 15px;
        color:#333333;
        a{
          color:#333333;

          &:hover{
            color:#ff0000;
          }

        }
      }
      footer {
        a {
          color: #333;
        }
      }
    }
  }

  @media (min-width:$large) {
    article {
      margin-top: 25px;
      margin-bottom: 60px;
      aside {
        .day {
          font-size: 22px;
          font-weight: 200;
          position: relative;
          top: 10px;
          padding: 5px;
          color: #fff;
          background: #f66;
        }
      }
      main {
        h4 {
          margin: 1px 0 15px;
        }
        footer {
          a {
            color: #333;
            &:hover{
              color:#ff6666;

            }
          }
        }
      }
    }
  }
}
