.agenda-pagination {
  display: inline-block;
  width: 100%;
  padding-top: 10px;
  text-align: center;
  i {
    font-size: 32px;
    line-height: 32px;
    position: relative;
    top: 10px;
    color:#999999;

    &:hover{
      color:#ff6666;
    }
  }
  span {
    font-size: 18px;
    height: 30px;
    color:#999999;
  }
  .agenda-prev,
  .agenda-next {
    cursor: pointer;
  }
  @media (min-width:$large) {
    i {
      font-size: 32px;
      line-height: 32px;
      position: relative;
      top: 10px;
    }
    span {
      font-size: 18px;
      height: 30px;
    }
  }
}
