.article-footer{
.button{
  background-color: #ddd;
  padding: 10px 20px;
}
aside{


.compartir{
  .soc {
    margin: 10px 5px 0 0;
    li {
      a {
        font-size: 22px!important;
        width: 34px;
        color:#ccc!important;
      }
      &:nth-last-child(1) {
      }
    }
  }
}
}
}
