.compartir {
  text-align: right;
  .soc {
    margin: 10px 5px 0 0;
    li {
      border-right: 1px solid #c1c1c1;
      a {
        font-size: 20px;
        width: 34px;
        color: #c1c1c1;
      }
      &:nth-last-child(1) {
        border-right: 0 solid transparent;
      }
    }
  }
  @media (min-width:$large) {
    text-align: right;
    .soc {
      margin: 10px 5px 0 0;
      li {
        a {
          font-size: 20px;
          width: 34px;
        }
        &:nth-last-child(1) {

        }
      }
    }
  }
}

//twittter background-color: #4da7de;
// face   background-color: #3e5b98;
// link     background-color: #3371b7;
.compartir-vertical {
  .soc {
    li:nth-child(1) {
      background-color: #4da7de!important;
    }
    li:nth-child(2) {
      background-color: #3e5b98!important;
    }
    li:nth-child(3) {
      background-color: #3371b7!important;
    }
  }
}
.social-icons-footer {
  .soc {
    li {
      a:hover {
        color: rgba(#fff,.8)!important;
      }
    }
  }
}

.social,
.compartir {
  .soc {
    li:nth-child(1):hover {
      a {
        color: #4da7de!important;
      }
    }
    li:nth-child(2):hover {
      a {
        color: #3e5b98!important;
      }
    }
    li:nth-child(3):hover {
      a {
        color: #3371b7!important;
      }
    }
    li:nth-child(4):hover {
      a {
        color: #f33!important;
      }
    }
  }
}
