.comment {
  p {
font-family: $source;
font-size: 16px;
font-weight: 400;
color:#666!important;
  }
  .icon {
    text-align: center;
    font-size: 60px;
    padding-top:15px;
    padding-right:10px;
    color:#ccc;
  }
}
