header.header-article {
  height: 45px;
  border-bottom: 1px solid rgba(0,0,0,.3);
  .date {
    font-family: $source;
    font-size: 14px;
    margin: 18px 0 0;
  }
  @media (min-width:$large) {
    height: 45px;
    .date {
      font-size: 16px;
      margin: 18px 0 0;
    }
  }
}
