.related-button{
  background: #e9eaeb;
  display: inline-block;
  padding:14px 10px 0 10px;
  height:50px;
  margin: 10px 0px;
  color:#9e9b9b;
  clear:both;
  font-family: $source;
  font-weight: 400;
  font-size: 16px;

}
