.sidebar-widget-header-no-icon,
.sidebar-widget-header {
  position: relative;
  height: 46px;
  margin-top: 30px;
  border-bottom: 1px solid rgba(0,0,0,.3);
  h2 {
    display: block;
    margin: 0;
    padding-top: 0;
  }
  .header-icon {
    position: relative;
    i {
      position: absolute;
      font-size: 65px;
      top: -15px;
      right: -20px;
      margin: 0;
      padding: 0;
      color: #f66;
    }

    //line-height: .75;
  }
  @media (min-width:$large) {
    position: relative;
    height: 46px;
    margin-top: 30px;
    border-bottom: 1px solid rgba(0,0,0,.3);
    h2 {
      display: block;
      margin: 0;
      padding-top: 0;
    }
    .header-icon {
      position: relative;
      i {
        position: absolute;
        font-size: 65px;
        top: -15px;
        right: -20px;
        margin: 0;
        padding: 0;
        color: #f66;
      }

      //line-height: .75;
    }
  }
}
.comments-widget {
  .sidebar-widget-header {
    .header-icon {
      i {
        color: #6cf;
        right:-7px;
      }
    }
  }
}
.related-widget,
.comments-widget {


  .sidebar-widget-header-no-icon,
  .sidebar-widget-header {
    margin-bottom:10px;

  }
}
